
    <div class="send-form">
        <label class="input-field">
            <span>{{translation.vardas}}:</span>
            <input type="text" class="name-inp">
        </label>
        <label class="input-field">
            <span>{{translation.elPastas}}:</span>
            <input type="text" class="email-inp">
        </label>
        <label class="input-field">
            <span>{{translation.tema}}:</span>
            <input type="text" class="subj-inp">
        </label>
        <label class="input-field-box">
            <span>{{translation.zinute}}:</span>
            <textarea rows="10" class="msg-inp"></textarea>
        </label>
        <script src="https://www.google.com/recaptcha/api.js" defer></script>
        <div id='recaptcha' class="g-recaptcha"
             data-sitekey="6LfN-RwUAAAAABJdlHge0zqgiiaph43V9pJBEJoM"
             data-callback="submitMsg"
             data-size="invisible"></div>
        <div class="error-field">{{errorMSG}}</div>
        <div class="done-field">{{doneMSG}}</div>
        <button type="button" class="email-send-submit" ng-click="formValid()">{{translation.nusiusti}}</button>
    </div>
