<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="page-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.kontaktai}}</h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="page.length === 0"></div>
    <div ng-bind-html="page.content.rendered" class="page-text-render re-frame" ng-if="page.length !== 0"></div>
</div>
<div class="map-contact">
    <div class="iframe-wrapper" style="height: 530px;">
        <iframe src="https://www.google.com/maps/d/embed?mid=1J0-2NMvEI8edDOmv4G9QLT-cmyM" width="100%" height="530" frameborder="0" style="border:0"></iframe>
    </div>
    <span class="overlay"></span>
</div>

<div contact-form class="contact-form-wrapper darken"></div>