<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="events-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.renginiai}}</h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="events.length === 0"></div>
    <div class="events-timeline paged" ng-show="events.length !== 0">
        <span class="timeline-line"></span>
        <div class="timeline-item" ng-repeat="event in events">
            <div class="timeline-content {{event.period}}" ng-class="{'odd' : $odd}">

                <div class="event-image" ng-class="{'resp': $odd}" ng-if="event.eventImage">
                    <img ng-src="{{event.eventImage}}">
                </div>

                <div class="event-content">
                    <div class="event-title" ng-bind-html="event.title.rendered"></div>
                </div>

                <a class="event-more-btn" ng-href="{{event.more}}">{{translation.skaitytiDaugiau}}</a>

                <div class="event-image" ng-if="event.eventImage && $odd">
                    <img ng-src="{{event.eventImage}}">
                </div>
            </div>
            <div class="timeline-date" ng-class="{'odd' : $odd }">
                {{event.date}}
            </div>
        </div>

    </div>

    <div class="list-pagination" ng-hide="events.length === 0">
        <ul>
            <li class="pagination-item first-page" ng-click="jumpToPage('first');" ng-if="currentPage !== 1 && pages.length > 0">&nbsp;</li>
            <li class="pagination-item prev-page" ng-click="jumpToPage('prev');" ng-if="currentPage !== 1 && pages.length > 0">&nbsp;</li>
            <li class="pagination-item this-page" ng-repeat="page in pages" ng-if="pages.length > 1" ng-class="{'active': currentPage == page}" ng-click="jumpToPage(page);">{{page}}</li>
            <li class="pagination-item next-page" ng-click="jumpToPage('next');" ng-if="currentPage !== pages.length && pages.length > 1">&nbsp;</li>
            <li class="pagination-item last-page" ng-click="jumpToPage('last');" ng-if="currentPage !== pages.length && pages.length > 1">&nbsp;</li>
        </ul>
    </div>
</div>