<ul class="footer-menu-block" ng-repeat="item in menuList">
    <!-- ng-style="{'width' : 100/menuList.length + '%'}"-->
    <li class="footer-menu-item">
        <span>{{item.title}}</span>
    </li>
    <li ng-repeat="sub in item.children" class="footer-menu-item">
        <a ng-if="item.children" ng-href="{{sub.object == 'page' ? 'p' : ''}}/{{sub.object_slug}}">
            {{sub.title}}
        </a>
    </li>
</ul>