<div class="footer-wrap">
    <div class="divider-block-wrap">
        <div footer-menu menu-title="apacia" class="divide-block"></div>
    </div>
    <div class="divider-block-wrap slimer">
        <div class="divide-block">
            <div class="contact-info fifty"  ng-bind-html="contacts.content.rendered"></div>
            <div class="news-feed-form fifty" style="display: none;">
                <label>
                    <span class="news-feed-title">{{translation.uzsisakytiNaujienlaiskius}}:</span>
                    <input class="news-feed-email" type="email" placeholder="{{translation.iveskiteElpasta}}">
                    <span class="news-feed-error">{{errorNF}}</span>
                    <span class="news-feed-done">{{doneNF}}</span>
                </label>
                <button class="news-feed-submit">{{translation.uzsisakyti}}</button>
            </div>
        </div>
    </div>

    <div class="external-links" ng-bind-html="links.content.rendered"></div>
    <div class="copy-right">{{translation.teises}} &copy; {{copy}}</div>
</div>
