<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="page-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.galerija}}</h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="albums.length === 0"></div>
    <div class="gallery-page-render re-frame">
        <div class="albums-wrap">
            <ul>
                <li class="album-item" ng-repeat="album in albums" ng-click="changeGallery($index, album.id)" ng-class="{'active': $index === selected}">{{album.name}}</li>
            </ul>
        </div>
        <div class="gallery-render">
            <div class="loading-blob" ng-if="loadShow"></div>

            <div class="gallery-item" ng-repeat="pic in gallery">
                <img ng-src="{{pic.img}}" src="" image-onload="imgLoadedCallback()" class="gallery-item-thumb"/>
                <span class="gallery-item-caption">
                    <span class="item-caption-name">{{pic.name}}</span>
                </span>
            </div>
        </div>
    </div>
</div>