<div class="main-header-wrapper" ng-style="{'height': hh}">
    <div class="main-header-img" >
        <img src="wp-content/themes/watergular/img/wall-min.jpg" ng-style="{'top': endless+'%'}">
        <h1 class="main-title">{{translation.title}}</h1>
        <span class="main-logo"></span>
    </div>
</div>