<div main-header-img class="main-header-section"></div>
<div class="box-section">
    <div class="boxes-wrapper">
        <a ng-href="{{naturelink}}" ng-show="{{shownatureschool}}" href="#" class="pop-box school">
            <span class="school-icon box-icon"></span>
            <div class="box-title">{{translation.gamtosMokykla}}</div>
        </a>
        <a ng-href="{{placeslink}}" href="#" class="pop-box places">
            <span class="places-icon box-icon"></span>
            <div class="box-title">{{translation.lankytinosVietos}}</div>
        </a>
        <a ng-href="{{productBrand}}" ng-show="{{showproductbrand}}" href="#" class="pop-box gallery">
            <span class="brand-icon box-icon"></span>
            <div class="box-title">{{translation.produktoZenklas}}</div>
        </a>
    </div>
</div>


<div class="events-section" ng-if="events.length > 0">
    <h2 class="section-title" >{{translation.renginiai}}</h2>
    <div class="events-timeline">
        <span class="timeline-line"></span>

        <div class="timeline-item" ng-repeat="event in events">
            <div class="timeline-content {{event.period}}" ng-class="{'odd' : $odd }">
                <div class="event-image" ng-class="{'resp' : $odd}" ng-if="event.eventImage">
                    <img ng-src="{{event.eventImage}}">
                </div>

                <div class="event-content">
                    <div class="event-title" ng-bind-html="event.title.rendered"></div>
                </div>

                <a class="event-more-btn" ng-href="{{event.more}}">{{translation.skaitytiDaugiau}}</a>

                <div class="event-image" ng-if="event.eventImage && $odd">
                    <img ng-src="{{event.eventImage}}">
                </div>
            </div>
            <div class="timeline-date" ng-class="{'odd' : $odd }">
                {{event.date}}
            </div>
        </div>

    </div>
</div>


<div class="section-sepa-one">
    <img src="wp-content/themes/watergular/img/main01-min.jpg" class="non-clickable"/>
</div>


<div class="news-section" ng-if="posts.length > 0">
    <h2 class="section-title white-shade">{{translation.naujienos}}</h2>
    <div class="news-box-wrap" ng-repeat="post in posts">

        <div class="news-box-content" ng-if="$even && !resp" ng-class="{'full' : !post.newsImage}">
            <a href="{{post.more}}" class="card-box-title-wrap">
                <span class="card-title-line start"></span>
                <h2 class="card-title" ng-bind-html="post.title.rendered"></h2>
                <span class="card-title-line end"></span>
            </a>
            <div ng-bind-html="post.excerpt.rendered" class="news-box-text"></div>
            <a ng-href="{{post.more}}" class="news-more-btn">{{translation.skaitytiDaugiau}}</a>
        </div>

        <div resize-this class="news-box-image" ng-if="($even && !resp) && post.newsImage.length > 0">
            <img ng-src="{{post.newsImage}}"/>
        </div>
        <!-- separating different sides-->
        <div resize-this class="news-box-image odd-element" ng-if="($odd || resp) && post.newsImage.length > 0">
            <img ng-src="{{post.newsImage}}"/>
        </div>

        <div class="news-box-content odd-element" ng-if="$odd  || resp" ng-class="{'full' : !post.newsImage}">
            <a href="{{post.more}}" class="card-box-title-wrap">
                <span class="card-title-line start"></span>
                <h2 class="card-title" ng-bind-html="post.title.rendered"></h2>
                <span class="card-title-line end"></span>
            </a>
            <div ng-bind-html="post.excerpt.rendered" class="news-box-text"></div>
            <a ng-href="{{post.more}}" class="news-more-btn">{{translation.skaitytiDaugiau}}</a>
        </div>

    </div>
    <a ng-href="{{newsLink}}" class="more-news-btn">{{translation.daugiauNaujienu}}</a>
</div>
<div class="section-sepa-two">
    <img src="wp-content/themes/watergular/img/main02-min.jpg" class="non-clickable"/>
</div>
<div class="foo-section">
    <h2 class="section-title white-shade">{{translation.susisiekite}}</h2>
    <div contact-form class="contact-form-wrapper"></div>
</div>

