<ul class="top-menu-list">
    <li class="menu-item"><a ng-href="{{homeUrl}}" class="home-icon">&nbsp;</a></li>
    <li ng-repeat="item in menuList" class="menu-item">
        <a ng-if="!item.children" href="{{item.url.replace(location.origin, '')}}">
            {{item.title}}
        </a>
        <span ng-if="item.children" class="submenu-item-list">
            {{item.title}}
            <ul class="submenu-wrap">
                <li ng-repeat="sub in item.children" class="submenu-item">
                    <a href="{{sub.url.replace(location.origin, '')}}">
                        {{sub.title}}
                    </a>
                </li>
            </ul>
        </span>
    </li>
</ul>


