<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="news-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.naujienos}}</h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="posts.length === 0"></div>
    <div class="news-list-item" ng-repeat="post in posts">
        <div class="news-featured-image">
            <img ng-src="{{post.newsImage}}"/>
        </div>
        <div class="news-item-content">
            <a ng-href="{{post.more}}" class="news-item-title" ng-bind-html="post.title.rendered"></a>
            <span class="news-item-date">{{post.date}}</span>
            <div ng-bind-html="post.excerpt.rendered" class="page-text-render"></div>
        </div>
        <a ng-href="{{post.more}}" class="more-news-btn">{{translation.skaitytiDaugiau}}</a>
    </div>

    <div class="list-pagination" ng-hide="posts.length === 0">
        <ul>
            <li class="pagination-item first-page" ng-click="jumpToPage('first');" ng-if="currentPage !== 1 && pages.length > 0">&nbsp;</li>
            <li class="pagination-item prev-page" ng-click="jumpToPage('prev');" ng-if="currentPage !== 1 && pages.length > 0">&nbsp;</li>
            <li class="pagination-item this-page" ng-repeat="page in pages" ng-if="pages.length > 1" ng-class="{'active': currentPage == page}" ng-click="jumpToPage(page);">{{page}}</li>
            <li class="pagination-item next-page" ng-click="jumpToPage('next');" ng-if="currentPage !== pages.length && pages.length > 1">&nbsp;</li>
            <li class="pagination-item last-page" ng-click="jumpToPage('last');" ng-if="currentPage !== pages.length && pages.length > 1">&nbsp;</li>
        </ul>
    </div>
</div>