<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="page-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title" ng-bind-html="page.title.rendered"></h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="!page"></div>
    <div ng-bind-html="trusted" class="page-text-render re-frame"></div>
</div>