<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="page-card-wrapper" style="min-height: 0">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.lankytinosVietos}}</h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="page.length === 0"></div>
</div>
<div class="map-contact" style="height: 730px">
    <iframe src="https://www.google.com/maps/d/embed?mid=1KfogXrqyOrvAeSV7_duGx-ZdSDv1Qzsi" width="100%" height="730"></iframe>
    <span class="overlay"></span>
</div>