<div mini-header  header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="post-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title" ng-bind-html="post.title.rendered"></h2>
        <span class="card-title-line end"></span>
    </div>
    <div class="loading-blob" ng-if="!post"></div>
    <div ng-bind-html="trusted" class="post-text-render re-frame"></div>
    <div class="post-extra-info" ng-if="post">
        <div class="post-release-date">{{translation.paskelbta}}: {{post.date}}</div>
        <div class="post-share">
            <a ng-href="{{fbShare}}" href="#" class="share-icon fb-share-icon" target="_blank"></a>
            <a ng-href="{{twShare}}" href="#" class="share-icon tw-share-icon" target="_blank"></a>
            <!--<a ng-href="{{gpShare}}" href="#" class="share-icon gp-share-icon" target="_blank"></a>-->
        </div>
    </div>
</div>