<div mini-header header-img="{{featuredImage}}" class="mini-header-section"></div>

<div class="page-card-wrapper">
    <div class="card-title-wrapper">
        <span class="card-title-line start"></span>
        <h2 class="card-title">{{translation.gamtosMokykla}}</h2>
        <span class="card-title-line end"></span>
    </div>

    <div class="tabs-line">
        <ul>
            <li ng-repeat="tab in tabs" ng-click="newTab(tab.object_id, $index)" ng-style="{'width': wid+'%'}" ng-class="{'is-selected': $index == setted}">
                {{tab.title}}
            </li>
        </ul>
        <span class="selector" ng-style="{'width': wid+'%'}"></span>
    </div>
    <div ng-repeat="con in tabContents" ng-bind-html="con.content.rendered" class="page-text-render re-frame tab-content {{'content-' + con.id}}" ng-style="{display: con.id == tabs[0].object_id ? 'block' : 'none'}">
    </div>
</div>