<span class="weather-icon {{weatherIcon}}"></span>
<span class="weather-temp">{{temp}}&deg;C</span>
<div class="weather-week-wrap" ng-class="{'active': show}">
    <div class="first-day-wrap">
        <span class="first-day-icon weather-icon {{weatherIcon}}"></span>
        <span class="first-day-temp">{{temp}}&deg;C</span>
        <span class="first-day-city">{{items[0].tempDay}}/{{items[0].tempNight}} {{city}}</span>
        <span class="first-day-weekday">{{weekday}}</span>
        <span class="first-day-speed">{{items[0].wind}}m/s</span>
        <span class="first-day-humidity">{{items[0].humidity}} %</span>
    </div>
    <div class="week-day-wrap">
        <ul>
            <li ng-repeat="item in items | limitTo: (1 - items.length)">
                <span class="week-day-weekday">{{item.day}}</span>
                <span class="week-day-icon weather-icon {{item.icon}}"></span>
                <span class="week-day-tempDay">{{item.tempDay}}</span>
                <span class="week-day-tempNight">{{item.tempNight}}</span>
            </li>
        </ul>
    </div>
</div>