/*
Theme Name: Watergular
Theme URI:
Author: Kimas
Author URI: http://kimas.lt
Description: Custom theme for site Nemunokilpos.lt
Version: 1.0
License: Priivate
License URI:
Tags: angular wordpress
Text Domain: watergular
*/
//Prev colors
//$mainColor: #47a3da;
//$menuColor: rgba(37, 37, 37, 0.45);
//$menuBorderHoverColor: #47a3da;
//$menuHoverBorder: #1F3447;
//$mainBackground: #fafafa;
//$accentColor: #1F3447;
//$footerColor: #032b2f;
//$textColor: #222222;

/*********************
Variables
*********************/

$mainColor: #56b1bf;
$menuColor: rgba(0, 121, 107, 0.56);
$menuBorderHoverColor: #56b1bf;
$menuHoverBorder: #D73A31;
$mainBackground: #f3f0f0;
$accentColor: #08708A;
$secondaryAccentColor: #D73A31;
$footerColor: #1a2b2d;
$textColor: #222222;

//Main file colors from separations
//$mainHead: #bdfaff;
$main01top: #bdfaff;
$main01bottom: #2c5277;
$main02top: #fce4fc;
$main02bottom: #06150e;

/*********************
Mixins
*********************/

@mixin regular-font($size) {
  font-family: 'Open Sans', sans-serif !important;
  font-size: $size;
}

@mixin bold-font($size) {
  font-family: 'Comfortaa', sans-serif !important;
  font-size: $size;
  font-weight: 700;
}

@mixin content-width() {
  width: 70%;
  max-width: 1200px;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin translate-x($poz) {
  -webkit-transform: translateX($poz);
  -moz-transform: translateX($poz);
  -ms-transform: translateX($poz);
  -o-transform: translateX($poz);
  transform: translateX($poz);
}

@mixin translate-y($poz) {
  -webkit-transform: translateY($poz);
  -moz-transform: translateY($poz);
  -ms-transform: translateY($poz);
  -o-transform: translateY($poz);
  transform: translateY($poz);
}

@mixin translate-xy($poX, $poY) {
  -webkit-transform: translate($poX, $poY);
  -moz-transform: translate($poX, $poY);
  -ms-transform: translate($poX, $poY);
  -o-transform: translate($poX, $poY);
  transform: translate($poX, $poY);
}

@mixin awesome-shadow() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin blur($amm) {
  filter: blur($amm);
  -webkit-filter: blur($amm);
  -moz-filter: blur($amm);
  -o-filter: blur($amm);
  -ms-filter: blur($amm);
}

@mixin gradient($colOne, $colTwo) {
  background: $colOne;
  background: -webkit-linear-gradient($colOne, $colTwo);
  background: -o-linear-gradient($colOne, $colTwo);
  background: -moz-linear-gradient($colOne, $colTwo);
  background: linear-gradient($colOne, $colTwo);
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 1200px) and (max-width: 1799px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 900px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $point == phoneonly {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $point == phonephablet {
    @media (max-width: 899px) {
      @content;
    }
  }
}

* {
  background: none;
  border: none;
  outline: none;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  background-color: $mainBackground;
  @include regular-font(15px);
  position: relative;
  height: 100%;
  color: $textColor;
}

body {

  &.fullscreen {
    overflow: hidden;
  }
}

::-moz-selection {
  background: $accentColor;
  color: #fff;
}

::selection {
  background: $accentColor;
  color: #fff;
}
/***********************
General
 *********************/

// MAPS ==================================================================
.map-contact {
  margin-top: 16px;
  height: 480px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.44);
  .iframe-wrapper {
    width: 0;
    min-width: 100%;
    position: absolute;
    top: -50px;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  @include breakpoint(phoneonly) {
    height: 300px;
  }
}


.cookie-msg-wrap {
  display: block;
  width: 100%;
  padding: 16px;
  position: fixed;
  bottom: 0;
  background: $mainColor;
  text-align: justify;
  z-index: 400;
  color: #fff;
  border-top: 3px solid $secondaryAccentColor;
  a:hover {
    color: $secondaryAccentColor;
  }
  .cookie-msg-close {
    background: #08708A;
    border: 3px solid #08708A;
    padding: 6px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 8px;
    &:hover {
      background: transparent;
    }
  }
}

.scroll-to-top-btn {
  position: fixed;
  right: 28px;
  bottom: 28px;
  width: 40px;
  height: 40px;
  background: url(./img/icons/arrow_up.svg) $accentColor no-repeat center center;
  background-size: 30px;
  @include awesome-shadow();
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  @include transition(all 300ms ease-out);
  z-index: 500;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: $mainColor;
  }
}

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 400;
}
/*
end of general
 */

@import "partials/icons";
@import "partials/menu";
@import "partials/weather";
@import "partials/social";
@import "partials/language";
@import "partials/headers";
@import "partials/boxes";
@import "partials/card";
@import "partials/sections";

@import "partials/searchPage";
@import "partials/events";
@import "partials/news";
@import "partials/post";
@import "partials/images";
@import "partials/pagination";
@import "partials/tabs";
@import "partials/contact";
@import "partials/newsletter";
@import "partials/footer";















