/*
Theme Name: Watergular
Theme URI:
Author: Kimas
Author URI: http://kimas.lt
Description: Custom theme for site Nemunokilpos.lt
Version: 1.0
License: Priivate
License URI:
Tags: angular wordpress
Text Domain: watergular
*/
/*********************
Variables
*********************/
/*********************
Mixins
*********************/
/*********************
BREAKPOINTS
*********************/
* {
  background: none;
  border: none;
  outline: none;
  font-size: 100%;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body {
  background-color: #dcdcdc;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 16px;
  position: relative;
  height: 100%;
  color: #222222; }

body.fullscreen {
  overflow: hidden; }

::-moz-selection {
  background: #08708A;
  color: #fff; }

::selection {
  background: #08708A;
  color: #fff; }

/*********************
Icons
*********************/
.home-icon {
  background: url(img/icons/home.svg) no-repeat center;
  background-size: 22px;
  display: block;
  width: 25px; }
  @media (max-width: 899px) {
    .home-icon {
      background-size: 25px;
      width: 30px; } }

.gallery-icon {
  background: url(img/icons/photos.svg) no-repeat center;
  background-size: 30%;
  display: block; }

.places-icon {
  background: url(img/icons/map.svg) no-repeat center;
  background-size: 30%;
  display: block; }

.school-icon {
  background: url(img/icons/tree.svg) no-repeat center;
  background-size: 30%;
  display: block; }

.share-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer; }

.fb-share-icon {
  background: #3b5998 url(img/icons/facebook.svg) no-repeat center;
  background-size: 30%; }

.tw-share-icon {
  background: #1da1f2 url(img/icons/twitter.svg) no-repeat center;
  background-size: 70%; }

.gp-share-icon {
  background: #c9302c url(img/icons/g_plus.svg) no-repeat center;
  background-size: 70%; }

.facebook-icon {
  background: url(img/icons/facebook.svg) no-repeat center;
  background-size: 30%; }

.instagram-icon {
  background: url(img/icons/instagram.svg) no-repeat center;
  background-size: 50%; }

.loading-blob {
  background: url(img/loading.gif) no-repeat center;
  background-size: cover;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.navigation-toolbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 121, 107, 0.56);
  border-bottom: 5px solid #56b1bf;
  position: fixed;
  top: 0;
  color: #fff;
  font-family: 'Prosto One', sans-serif;
  font-size: 15px;
  z-index: 500; }
  .navigation-toolbar .menu-resp-btn {
    width: 50px;
    height: 50px;
    display: none;
    background: url(img/icons/menu.svg) no-repeat center center;
    background-size: 30px;
    cursor: pointer; }
    @media (max-width: 899px) {
      .navigation-toolbar .menu-resp-btn {
        display: block; } }
  .navigation-toolbar nav .top-menu-list {
    margin-left: 50px; }
    .navigation-toolbar nav .top-menu-list li.menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 50px;
      cursor: pointer;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      -webkit-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .navigation-toolbar nav .top-menu-list li.menu-item.active, .navigation-toolbar nav .top-menu-list li.menu-item:hover {
        background-color: #56b1bf;
        border-bottom: 5px solid #08708A; }
        @media (max-width: 899px) {
          .navigation-toolbar nav .top-menu-list li.menu-item.active, .navigation-toolbar nav .top-menu-list li.menu-item:hover {
            border-bottom: none;
            border-left: 5px solid #08708A; } }
      .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list {
        position: static;
        display: block;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
        .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap {
          position: absolute;
          width: auto;
          display: none;
          min-width: 150px;
          background: #56b1bf;
          margin-top: 0;
          margin-left: -8px; }
          .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap li.submenu-item {
            display: block;
            border-left: 5px solid transparent;
            border-bottom: none;
            padding: 2px 0 2px 16px;
            -moz-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
            -webkit-transition: all 200ms ease-out;
            transition: all 200ms ease-out; }
            .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap li.submenu-item:hover, .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap li.submenu-item.active {
              border-left: 5px solid #08708A; }
            @media (max-width: 899px) {
              .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap li.submenu-item:before {
                content: '\2022';
                width: 19px;
                height: 19px;
                display: block;
                position: absolute;
                left: 7px; } }
          @media (max-width: 899px) {
            .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list ul.submenu-wrap {
              position: relative;
              display: block; } }
        .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list:hover ul.submenu-wrap, .navigation-toolbar nav .top-menu-list li.menu-item span.submenu-item-list.active ul.submenu-wrap {
          display: block; }
      .navigation-toolbar nav .top-menu-list li.menu-item a {
        display: block; }
      @media (max-width: 899px) {
        .navigation-toolbar nav .top-menu-list li.menu-item {
          display: block;
          height: auto; } }
    @media (max-width: 899px) {
      .navigation-toolbar nav .top-menu-list {
        width: auto;
        min-width: 200px;
        max-width: 300px;
        margin-left: -300px;
        height: 100%;
        background: #56b1bf;
        display: block;
        position: fixed;
        margin-top: 0;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out; } }
  .navigation-toolbar nav.open .top-menu-list {
    margin-left: 0; }
  @media (max-width: 899px) {
    .navigation-toolbar {
      font-family: 'Prosto One', sans-serif;
      font-size: 19px; } }

.main-header-section, .mini-header-section, .box-section, .events-section {
  position: relative; }

.weather-wrap {
  position: absolute;
  right: 202px;
  top: 0;
  height: 50px;
  padding: 0 16px 0 4px;
  cursor: pointer;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .weather-wrap:hover, .weather-wrap.active {
    background-color: #56b1bf;
    border-bottom: 5px solid #08708A; }
  @media (max-width: 899px) {
    .weather-wrap {
      right: 172px;
      padding-left: 16px; } }
  .weather-wrap .weather-temp.ng-binding {
    line-height: 50px;
    display: inline-block;
    float: right; }
  .weather-wrap .weather-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat center center;
    float: left;
    background-size: 27px; }
    @media (max-width: 899px) {
      .weather-wrap .weather-icon {
        display: none; } }
    .weather-wrap .weather-icon.thunder {
      background-image: url(img/weather/thunder.svg); }
    .weather-wrap .weather-icon.drizzle {
      background-image: url(img/weather/drizzle.svg); }
    .weather-wrap .weather-icon.rain {
      background-image: url(img/weather/rain.svg); }
    .weather-wrap .weather-icon.snow {
      background-image: url(img/weather/snow.svg); }
    .weather-wrap .weather-icon.fog {
      background-image: url(img/weather/fogy.svg); }
    .weather-wrap .weather-icon.clear-day {
      background-image: url(img/weather/sun.svg); }
    .weather-wrap .weather-icon.clear-night {
      background-image: url(img/weather/moon.svg); }
    .weather-wrap .weather-icon.cloudy-day {
      background-image: url(img/weather/cloud-day.svg); }
    .weather-wrap .weather-icon.cloudy-night {
      background-image: url(img/weather/cloud-night.svg); }
    .weather-wrap .weather-icon.cloudy {
      background-image: url(img/weather/cloudy.svg); }
  .weather-wrap .weather-week-wrap {
    position: absolute;
    min-width: 250px;
    left: 0;
    top: 50px;
    background: #56b1bf;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .weather-wrap .weather-week-wrap.active {
      display: block; }
    .weather-wrap .weather-week-wrap .first-day-wrap {
      text-align: center;
      padding-top: 8px;
      border-bottom: 3px solid #08708A; }
      .weather-wrap .weather-week-wrap .first-day-wrap .first-day-icon.weather-icon {
        display: inline-block;
        width: 45%;
        height: 70px;
        background-size: 45px;
        background-position: right center; }
      .weather-wrap .weather-week-wrap .first-day-wrap .first-day-city.ng-binding {
        height: 18px;
        display: block;
        line-height: 18px; }
      .weather-wrap .weather-week-wrap .first-day-wrap .first-day-temp {
        font-size: 48px;
        display: inline-block;
        width: 45%;
        text-align: left;
        line-height: 70px; }
      .weather-wrap .weather-week-wrap .first-day-wrap .first-day-weekday {
        display: block;
        width: 100%;
        height: 0;
        line-height: 16px;
        font-size: 14px; }
      .weather-wrap .weather-week-wrap .first-day-wrap .first-day-speed, .weather-wrap .weather-week-wrap .first-day-wrap .first-day-humidity {
        padding-left: 8px; }
    .weather-wrap .weather-week-wrap .week-day-wrap {
      display: block;
      font-size: 12px;
      padding: 8px;
      text-align: center;
      background: #08708A; }
      .weather-wrap .weather-week-wrap .week-day-wrap li {
        display: inline-block;
        width: 16.5%; }
      .weather-wrap .weather-week-wrap .week-day-wrap span {
        display: block;
        line-height: 16px;
        text-align: center; }
      .weather-wrap .weather-week-wrap .week-day-wrap .week-day-icon {
        height: 30px;
        width: 100%; }

.social-icons-wrap {
  position: absolute;
  right: 102px;
  top: 0;
  font-size: 0; }
  .social-icons-wrap .facebook-icon, .social-icons-wrap .instagram-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-bottom: 5px solid transparent;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .social-icons-wrap .facebook-icon:hover, .social-icons-wrap .instagram-icon:hover {
      background-color: #56b1bf;
      border-bottom: 5px solid #08708A; }
  @media (max-width: 899px) {
    .social-icons-wrap {
      right: 70px; } }

.language-selector {
  position: absolute;
  top: 0;
  display: inline-block;
  text-transform: uppercase;
  right: 32px;
  width: 70px;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 899px) {
    .language-selector {
      right: 0; } }
  .language-selector .lang-active {
    padding-right: 20px;
    display: block;
    height: 50px;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .language-selector .lang-active::after {
      content: ' ';
      width: 10px;
      transform: rotate(45deg);
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      height: 10px;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px; }
    .language-selector .lang-active:hover, .language-selector .lang-active.active {
      background: #56b1bf;
      border-bottom: 5px solid #08708A; }
  .language-selector ul {
    display: none; }
  .language-selector.open .lang-active {
    background: #56b1bf;
    border-bottom: 5px solid #08708A; }
  .language-selector.open ul {
    display: block; }
  .language-selector .lang-select {
    border-left: 5px solid transparent;
    background: #56b1bf;
    padding-right: 20px; }
    .language-selector .lang-select:hover {
      border-left: 5px solid #08708A; }

.main-header-wrapper {
  overflow: hidden; }
  .main-header-wrapper .main-header-img {
    background-size: cover;
    background-position-x: center;
    background-position-y: -100px;
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .main-header-wrapper .main-header-img img {
      position: absolute;
      bottom: 0;
      transform: translate(-50%);
      top: -30%;
      left: 50%; }
  .main-header-wrapper .main-logo {
    background: rgba(0, 0, 0, 0.35) url(img/logo.svg) no-repeat center 20%;
    background-size: 150px;
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .main-header-wrapper .main-title {
    position: absolute;
    width: 70%;
    max-width: 1200px;
    font-family: 'Prosto One', sans-serif;
    font-size: 4vmin;
    color: #fff;
    top: 50%;
    background-color: rgba(0, 121, 107, 0.56);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 15;
    display: inline;
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 0 16px; }

.mini-header-section {
  height: 350px;
  background-color: #08708A; }
  .mini-header-section .mini-header {
    height: 100%; }
    .mini-header-section .mini-header .small-header-img {
      background-size: cover;
      background-position-x: center;
      background-position-y: -100px;
      width: 100%;
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .mini-header-section .mini-header .small-header-img:before {
        width: 100%;
        content: "";
        background: linear-gradient(0deg, #dcdcdc 0, rgba(247, 247, 247, 0));
        height: 40%;
        z-index: 1;
        display: block;
        position: absolute;
        bottom: 0; }
      .mini-header-section .mini-header .small-header-img img {
        width: 100%;
        position: absolute;
        bottom: 0;
        -webkit-transform: translate(-50%, -30%);
        -moz-transform: translate(-50%, -30%);
        -ms-transform: translate(-50%, -30%);
        -o-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        top: 0;
        left: 50%;
        filter: blur(1.5px);
        -webkit-filter: blur(1.5px);
        -moz-filter: blur(1.5px);
        -o-filter: blur(1.5px);
        -ms-filter: blur(1.5px);
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out; }
        .mini-header-section .mini-header .small-header-img img:hover {
          filter: blur(0);
          -webkit-filter: blur(0);
          -moz-filter: blur(0);
          -o-filter: blur(0);
          -ms-filter: blur(0); }
        .mini-header-section .mini-header .small-header-img img.full-height {
          width: auto;
          height: 100%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }

.box-section {
  background: #56b1bf;
  background: -webkit-linear-gradient(#56b1bf, #bdfaff);
  background: -o-linear-gradient(#56b1bf, #bdfaff);
  background: -moz-linear-gradient(#56b1bf, #bdfaff);
  background: linear-gradient(#56b1bf, #bdfaff);
  margin-top: -100px;
  text-align: center;
  font-size: 0; }
  .box-section .boxes-wrapper {
    display: initial;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    top: -50px;
    z-index: 40;
    width: 70%;
    max-width: 1200px; }
    @media (max-width: 599px) {
      .box-section .boxes-wrapper {
        display: block;
        width: 90%; } }
    .box-section .boxes-wrapper .pop-box {
      position: relative;
      display: inline-block;
      min-height: 200px;
      width: 300px;
      height: 300px;
      min-width: 200px;
      background: #56b1bf; }
      .box-section .boxes-wrapper .pop-box .box-title {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 20px;
        background: rgba(0, 121, 107, 0.56);
        color: #fff;
        /* height: 30%; */
        line-height: 70px; }
      .box-section .boxes-wrapper .pop-box .box-icon {
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: rgba(51, 51, 51, 0.23); }
      .box-section .boxes-wrapper .pop-box.gallery {
        background: url(img/boxes/galllery-min.JPG) no-repeat; }
      .box-section .boxes-wrapper .pop-box.places {
        background: url(img/boxes/places-min.JPG) no-repeat; }
      .box-section .boxes-wrapper .pop-box.school {
        background: url(img/boxes/school-min.JPG) no-repeat; }
      .box-section .boxes-wrapper .pop-box.gallery, .box-section .boxes-wrapper .pop-box.places, .box-section .boxes-wrapper .pop-box.school {
        background-size: 100% 100%;
        transform: scale(1);
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out; }
        .box-section .boxes-wrapper .pop-box.gallery:hover, .box-section .boxes-wrapper .pop-box.places:hover, .box-section .boxes-wrapper .pop-box.school:hover {
          transform: scale(1.1);
          z-index: 150;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.card-box-title-wrap,
.card-title-wrapper {
  position: relative;
  z-index: 15;
  top: -40px;
  display: block;
  width: 100%;
  height: auto; }
  .card-box-title-wrap .card-title-line,
  .card-title-wrapper .card-title-line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #222222;
    position: absolute;
    line-height: 24px;
    top: 50%; }
    .card-box-title-wrap .card-title-line.start,
    .card-title-wrapper .card-title-line.start {
      -webkit-transform: translate(-35px, -50%);
      -moz-transform: translate(-35px, -50%);
      -ms-transform: translate(-35px, -50%);
      -o-transform: translate(-35px, -50%);
      transform: translate(-35px, -50%); }
    .card-box-title-wrap .card-title-line.end,
    .card-title-wrapper .card-title-line.end {
      -webkit-transform: translate(5px, -50%);
      -moz-transform: translate(5px, -50%);
      -ms-transform: translate(5px, -50%);
      -o-transform: translate(5px, -50%);
      transform: translate(5px, -50%); }
  .card-box-title-wrap .card-title,
  .card-title-wrapper .card-title {
    color: #222222;
    display: inline-block;
    font-family: 'Prosto One', sans-serif;
    font-size: 25px;
    max-width: 70%; }

.card-box-title-wrap {
  top: 0;
  text-align: center; }

.section-sepa-one,
.section-sepa-two {
  height: auto;
  width: 100%;
  overflow: hidden; }
  .section-sepa-one img,
  .section-sepa-two img {
    width: 100%; }
    @media (max-width: 599px) {
      .section-sepa-one img,
      .section-sepa-two img {
        width: 200%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }

.section-sepa-one {
  background-color: #2c5277; }

.section-sepa-two {
  background-color: #06150e; }

.section-title {
  text-align: center;
  font-family: 'Prosto One', sans-serif;
  font-size: 35px; }
  @media (max-width: 899px) {
    .section-title {
      font-size: 28px; } }

.white-shade {
  color: #ffffff; }

.events-section {
  background-color: #bdfaff;
  min-height: 100px;
  padding: 16px 0; }

.events-card-wrapper {
  width: 70%;
  max-width: 1200px;
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px; }
  .events-card-wrapper:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: #dcdcdc;
    border-top: 5px solid #56b1bf;
    z-index: 1; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .events-card-wrapper {
      width: 90%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .events-card-wrapper {
      width: 95%; } }
  @media (max-width: 599px) {
    .events-card-wrapper {
      width: 100%; } }

.events-timeline {
  width: 70%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto 40px;
  padding: 20px; }
  .events-timeline.paged {
    width: 100%; }
  .events-timeline .timeline-line {
    height: 100%;
    width: 5px;
    position: absolute;
    background: #D73A31;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 40; }
    @media (max-width: 899px) {
      .events-timeline .timeline-line {
        display: none;
        left: 16px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }
  .events-timeline .timeline-item {
    margin: 20px 0;
    position: relative; }
    .events-timeline .timeline-item .timeline-content {
      width: 50%;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: table;
      position: relative; }
      .events-timeline .timeline-item .timeline-content.future {
        border-bottom: 5px solid #dcdcdc; }
      .events-timeline .timeline-item .timeline-content.today {
        border-bottom: 5px solid #D73A31; }
      .events-timeline .timeline-item .timeline-content .event-content {
        display: block;
        height: 100%;
        position: relative;
        padding: 0 8px;
        top: 0;
        width: 100%;
        min-height: 100px; }
        .events-timeline .timeline-item .timeline-content .event-content .event-title {
          font-family: 'Prosto One', sans-serif;
          font-size: 15px;
          position: absolute;
          top: 50%;
          left: 8px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        .events-timeline .timeline-item .timeline-content .event-content .event-desc {
          font-family: 'Tenor Sans', sans-serif;
          font-size: 12px; }
      .events-timeline .timeline-item .timeline-content .event-more-btn {
        text-align: center;
        color: #dcdcdc;
        background: #08708A;
        padding: 8px 16px;
        max-width: 200px;
        display: block;
        height: 34px;
        float: right;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        bottom: -20px;
        right: 8px;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
        .events-timeline .timeline-item .timeline-content .event-more-btn:hover {
          color: #fff;
          background: #56b1bf; }
      .events-timeline .timeline-item .timeline-content .event-image {
        overflow: hidden;
        height: 100px;
        width: 100px;
        display: table-cell;
        vertical-align: top;
        font-size: 0; }
        .events-timeline .timeline-item .timeline-content .event-image img {
          height: 100%; }
        .events-timeline .timeline-item .timeline-content .event-image.resp {
          display: none; }
      .events-timeline .timeline-item .timeline-content.odd {
        position: relative;
        left: 50%; }
        @media (min-width: 1800px) {
          .events-timeline .timeline-item .timeline-content.odd .event-more-btn {
            left: 8px;
            right: initial; } }
        @media (min-width: 1200px) and (max-width: 1799px) {
          .events-timeline .timeline-item .timeline-content.odd .event-more-btn {
            left: 8px;
            right: initial; } }
        @media (min-width: 900px) and (max-width: 1199px) {
          .events-timeline .timeline-item .timeline-content.odd .event-more-btn {
            left: 8px;
            right: initial; } }
        .events-timeline .timeline-item .timeline-content.odd .event-image {
          right: 0; }
      @media (max-width: 899px) {
        .events-timeline .timeline-item .timeline-content {
          width: 100%; }
          .events-timeline .timeline-item .timeline-content.odd {
            left: 0; }
            .events-timeline .timeline-item .timeline-content.odd .event-more-btn {
              right: 8px; }
            .events-timeline .timeline-item .timeline-content.odd .event-image {
              display: none; }
              .events-timeline .timeline-item .timeline-content.odd .event-image.resp {
                display: table-cell; }
          .events-timeline .timeline-item .timeline-content .event-more-btn {
            bottom: -66px;
            float: none;
            left: 0;
            right: 0 !important;
            margin: 0 auto; } }
    .events-timeline .timeline-item .timeline-date {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #ffffff;
      background: #56b1bf;
      z-index: 3;
      padding: 8px 16px; }
      .events-timeline .timeline-item .timeline-date.odd {
        -webkit-transform: translate(-100%, -50%);
        -moz-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        -o-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%); }
      @media (max-width: 899px) {
        .events-timeline .timeline-item .timeline-date {
          display: block;
          position: relative;
          left: 0;
          top: 0;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0); }
          .events-timeline .timeline-item .timeline-date.odd {
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0); } }
    @media (max-width: 899px) {
      .events-timeline .timeline-item {
        margin-bottom: 35px; } }
  @media (min-width: 900px) and (max-width: 1199px) {
    .events-timeline {
      width: 90%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .events-timeline {
      width: 95%; } }
  @media (max-width: 599px) {
    .events-timeline {
      width: 100%; } }

.news-section {
  background: #2c5277;
  background: -webkit-linear-gradient(#2c5277, #fce4fc);
  background: -o-linear-gradient(#2c5277, #fce4fc);
  background: -moz-linear-gradient(#2c5277, #fce4fc);
  background: linear-gradient(#2c5277, #fce4fc);
  min-height: 100px;
  padding: 16px 0; }
  .news-section .news-box-wrap {
    position: relative;
    width: 70%;
    max-width: 1200px;
    margin: 24px auto;
    padding: 32px 0; }
    .news-section .news-box-wrap .news-box-content {
      position: relative;
      width: 50%;
      padding: 24px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .news-section .news-box-wrap .news-box-content.odd-element {
        right: -50%; }
        @media (max-width: 899px) {
          .news-section .news-box-wrap .news-box-content.odd-element {
            right: 0;
            width: 100%; } }
      .news-section .news-box-wrap .news-box-content.full {
        width: 100%;
        right: 0; }
      .news-section .news-box-wrap .news-box-content .news-box-text {
        text-align: justify;
        line-height: 24px;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 17px;
        color: #222222; }
        @media (max-width: 899px) {
          .news-section .news-box-wrap .news-box-content .news-box-text {
            font-family: 'Tenor Sans', sans-serif;
            font-size: 15px; } }
      .news-section .news-box-wrap .news-box-content .news-more-btn {
        text-align: center;
        color: #dcdcdc;
        background: #08708A;
        padding: 8px;
        width: 200px;
        display: block;
        height: 34px;
        margin-top: 10px;
        float: right;
        cursor: pointer;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
        .news-section .news-box-wrap .news-box-content .news-more-btn:hover {
          color: #fff;
          background: #56b1bf; }
        @media (max-width: 899px) {
          .news-section .news-box-wrap .news-box-content .news-more-btn {
            float: none;
            margin: 10px auto 0; } }
    .news-section .news-box-wrap .news-box-image {
      position: absolute;
      height: 100%;
      width: 50%;
      background: #08708A;
      top: 0;
      right: 0;
      z-index: 15;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      overflow: hidden; }
      .news-section .news-box-wrap .news-box-image.odd-element {
        left: 0; }
        @media (max-width: 899px) {
          .news-section .news-box-wrap .news-box-image.odd-element {
            height: 200px;
            width: 100%;
            position: relative; } }
      .news-section .news-box-wrap .news-box-image img {
        height: 100%;
        width: auto;
        position: absolute;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .news-section .news-box-wrap .news-box-image.width-max img {
        height: auto;
        width: 100%; }
      .news-section .news-box-wrap .news-box-image.height-max img {
        height: 100%;
        width: auto; }
    @media (min-width: 900px) and (max-width: 1199px) {
      .news-section .news-box-wrap {
        width: 90%; } }
    @media (min-width: 600px) and (max-width: 899px) {
      .news-section .news-box-wrap {
        width: 95%; } }
    @media (max-width: 599px) {
      .news-section .news-box-wrap {
        width: 100%;
        padding: 0 16px; } }
  .news-section .more-news-btn {
    text-align: center;
    color: #ffffff;
    background: #56b1bf;
    width: 200px;
    font-size: 18px;
    opacity: .8;
    display: block;
    line-height: 50px;
    height: 50px;
    border-bottom: 5px solid #D73A31;
    margin: 10px auto;
    cursor: pointer;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .news-section .more-news-btn:hover {
      opacity: 1;
      color: #dcdcdc;
      background: #08708A; }

.news-card-wrapper {
  width: 70%;
  max-width: 1200px;
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px; }
  .news-card-wrapper:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: #dcdcdc;
    border-top: 5px solid #56b1bf;
    z-index: 1; }
  .news-card-wrapper .news-list-item {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 24px 0;
    border-radius: 3px;
    border-bottom: 3px solid #56b1bf;
    padding: 5px 10px;
    position: relative;
    text-align: left;
    display: table;
    width: 100%; }
    .news-card-wrapper .news-list-item .news-featured-image {
      position: relative;
      display: table-cell;
      vertical-align: top; }
      @media (max-width: 420px) {
        .news-card-wrapper .news-list-item .news-featured-image {
          display: block;
          text-align: center; } }
    .news-card-wrapper .news-list-item .news-item-content {
      display: inline-block;
      margin-left: 8px;
      position: relative; }
      .news-card-wrapper .news-list-item .news-item-content .news-item-title {
        font-family: 'Prosto One', sans-serif;
        font-size: 22px;
        display: block; }
        @media (max-width: 420px) {
          .news-card-wrapper .news-list-item .news-item-content .news-item-title {
            text-align: center; } }
      .news-card-wrapper .news-list-item .news-item-content .news-item-date {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 14px;
        color: #989898;
        display: block;
        padding-bottom: 8px; }
        @media (max-width: 420px) {
          .news-card-wrapper .news-list-item .news-item-content .news-item-date {
            text-align: center; } }
      .news-card-wrapper .news-list-item .news-item-content .page-text-render {
        padding-bottom: 20px;
        text-align: justify; }
      @media (max-width: 420px) {
        .news-card-wrapper .news-list-item .news-item-content {
          margin-left: 0; } }
  .news-card-wrapper .more-news-btn {
    text-align: center;
    color: #dcdcdc;
    background: #08708A;
    padding: 8px;
    width: 200px;
    display: block;
    height: 34px;
    margin-top: 10px;
    position: absolute;
    bottom: -17px;
    right: 8px;
    cursor: pointer;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .news-card-wrapper .more-news-btn:hover {
      color: #fff;
      background: #56b1bf; }
    @media (max-width: 420px) {
      .news-card-wrapper .more-news-btn {
        margin: 10px auto 0;
        right: 0;
        left: 0; } }
  @media (min-width: 900px) and (max-width: 1199px) {
    .news-card-wrapper {
      width: 90%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .news-card-wrapper {
      width: 95%; } }
  @media (max-width: 599px) {
    .news-card-wrapper {
      width: 100%; } }

.foo-section {
  background-color: #06150e;
  min-height: 100px; }

.post-card-wrapper,
.page-card-wrapper {
  width: 70%;
  max-width: 1200px;
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px; }
  .post-card-wrapper .post-text-render,
  .post-card-wrapper .page-text-render,
  .page-card-wrapper .post-text-render,
  .page-card-wrapper .page-text-render {
    text-align: center;
    z-index: 15;
    font-size: 0; }
    .post-card-wrapper .post-text-render blockquote,
    .post-card-wrapper .page-text-render blockquote,
    .page-card-wrapper .post-text-render blockquote,
    .page-card-wrapper .page-text-render blockquote {
      text-align: justify;
      border-left: 5px solid #56b1bf;
      margin-left: 32px; }
    .post-card-wrapper .post-text-render p, .post-card-wrapper .post-text-render div,
    .post-card-wrapper .page-text-render p,
    .post-card-wrapper .page-text-render div,
    .page-card-wrapper .post-text-render p,
    .page-card-wrapper .post-text-render div,
    .page-card-wrapper .page-text-render p,
    .page-card-wrapper .page-text-render div {
      text-align: justify;
      line-height: 24px;
      font-family: 'Tenor Sans', sans-serif;
      font-size: 17px;
      color: #222222;
      padding: 8px 32px; }
      .post-card-wrapper .post-text-render p a, .post-card-wrapper .post-text-render div a,
      .post-card-wrapper .page-text-render p a,
      .post-card-wrapper .page-text-render div a,
      .page-card-wrapper .post-text-render p a,
      .page-card-wrapper .post-text-render div a,
      .page-card-wrapper .page-text-render p a,
      .page-card-wrapper .page-text-render div a {
        font-family: 'Prosto One', sans-serif;
        font-size: 16px;
        color: #56b1bf; }
      .post-card-wrapper .post-text-render p strong, .post-card-wrapper .post-text-render div strong,
      .post-card-wrapper .page-text-render p strong,
      .post-card-wrapper .page-text-render div strong,
      .page-card-wrapper .post-text-render p strong,
      .page-card-wrapper .post-text-render div strong,
      .page-card-wrapper .page-text-render p strong,
      .page-card-wrapper .page-text-render div strong {
        font-family: 'Prosto One', sans-serif;
        font-size: 16px; }
      @media (max-width: 599px) {
        .post-card-wrapper .post-text-render p, .post-card-wrapper .post-text-render div,
        .post-card-wrapper .page-text-render p,
        .post-card-wrapper .page-text-render div,
        .page-card-wrapper .post-text-render p,
        .page-card-wrapper .post-text-render div,
        .page-card-wrapper .page-text-render p,
        .page-card-wrapper .page-text-render div {
          padding: 8px 16px; } }
    .post-card-wrapper .post-text-render ul,
    .post-card-wrapper .page-text-render ul,
    .page-card-wrapper .post-text-render ul,
    .page-card-wrapper .page-text-render ul {
      text-align: justify;
      margin-left: 32px;
      margin-right: 32px;
      line-height: 24px;
      font-family: 'Tenor Sans', sans-serif;
      font-size: 17px;
      color: #222222; }
      .post-card-wrapper .post-text-render ul li,
      .post-card-wrapper .page-text-render ul li,
      .page-card-wrapper .post-text-render ul li,
      .page-card-wrapper .page-text-render ul li {
        position: relative;
        padding-left: 32px; }
        .post-card-wrapper .post-text-render ul li:before,
        .post-card-wrapper .page-text-render ul li:before,
        .page-card-wrapper .post-text-render ul li:before,
        .page-card-wrapper .page-text-render ul li:before {
          content: '';
          display: block;
          position: absolute;
          background-color: #56b1bf;
          width: 7px;
          height: 7px;
          top: 7px;
          left: 16px; }
        .post-card-wrapper .post-text-render ul li a,
        .post-card-wrapper .page-text-render ul li a,
        .page-card-wrapper .post-text-render ul li a,
        .page-card-wrapper .page-text-render ul li a {
          font-family: 'Prosto One', sans-serif;
          font-size: 16px;
          color: #56b1bf; }
        .post-card-wrapper .post-text-render ul li strong,
        .post-card-wrapper .page-text-render ul li strong,
        .page-card-wrapper .post-text-render ul li strong,
        .page-card-wrapper .page-text-render ul li strong {
          font-family: 'Prosto One', sans-serif;
          font-size: 16px; }
    .post-card-wrapper .post-text-render ol,
    .post-card-wrapper .page-text-render ol,
    .page-card-wrapper .post-text-render ol,
    .page-card-wrapper .page-text-render ol {
      text-align: justify;
      margin-left: 64px;
      margin-right: 32px;
      line-height: 24px;
      font-family: 'Tenor Sans', sans-serif;
      font-size: 17px;
      color: #222222; }
      .post-card-wrapper .post-text-render ol li,
      .post-card-wrapper .page-text-render ol li,
      .page-card-wrapper .post-text-render ol li,
      .page-card-wrapper .page-text-render ol li {
        list-style-type: decimal;
        position: relative; }
      .post-card-wrapper .post-text-render ol a,
      .post-card-wrapper .page-text-render ol a,
      .page-card-wrapper .post-text-render ol a,
      .page-card-wrapper .page-text-render ol a {
        font-family: 'Prosto One', sans-serif;
        font-size: 16px;
        color: #56b1bf; }
      .post-card-wrapper .post-text-render ol strong,
      .post-card-wrapper .page-text-render ol strong,
      .page-card-wrapper .post-text-render ol strong,
      .page-card-wrapper .page-text-render ol strong {
        font-family: 'Prosto One', sans-serif;
        font-size: 16px; }
    .post-card-wrapper .post-text-render table,
    .post-card-wrapper .page-text-render table,
    .page-card-wrapper .post-text-render table,
    .page-card-wrapper .page-text-render table {
      font-family: 'Tenor Sans', sans-serif;
      font-size: 15px;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 16px auto;
      border: none; }
      .post-card-wrapper .post-text-render table p, .post-card-wrapper .post-text-render table div,
      .post-card-wrapper .page-text-render table p,
      .post-card-wrapper .page-text-render table div,
      .page-card-wrapper .post-text-render table p,
      .page-card-wrapper .post-text-render table div,
      .page-card-wrapper .page-text-render table p,
      .page-card-wrapper .page-text-render table div {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 15px; }
      .post-card-wrapper .post-text-render table strong,
      .post-card-wrapper .page-text-render table strong,
      .page-card-wrapper .post-text-render table strong,
      .page-card-wrapper .page-text-render table strong {
        font-family: 'Prosto One', sans-serif;
        font-size: 15px; }
      .post-card-wrapper .post-text-render table p, .post-card-wrapper .post-text-render table div, .post-card-wrapper .post-text-render table strong,
      .post-card-wrapper .page-text-render table p,
      .post-card-wrapper .page-text-render table div,
      .post-card-wrapper .page-text-render table strong,
      .page-card-wrapper .post-text-render table p,
      .page-card-wrapper .post-text-render table div,
      .page-card-wrapper .post-text-render table strong,
      .page-card-wrapper .page-text-render table p,
      .page-card-wrapper .page-text-render table div,
      .page-card-wrapper .page-text-render table strong {
        padding: 0;
        text-align: inherit; }
      .post-card-wrapper .post-text-render table th,
      .post-card-wrapper .page-text-render table th,
      .page-card-wrapper .post-text-render table th,
      .page-card-wrapper .page-text-render table th {
        border-bottom: 2px solid #D73A31;
        vertical-align: top;
        padding: 6px; }
      .post-card-wrapper .post-text-render table tbody td,
      .post-card-wrapper .page-text-render table tbody td,
      .page-card-wrapper .post-text-render table tbody td,
      .page-card-wrapper .page-text-render table tbody td {
        border-bottom: 2px solid #56b1bf;
        vertical-align: middle;
        padding: 6px; }
      .post-card-wrapper .post-text-render table tbody tr:last-child td,
      .post-card-wrapper .page-text-render table tbody tr:last-child td,
      .page-card-wrapper .post-text-render table tbody tr:last-child td,
      .page-card-wrapper .page-text-render table tbody tr:last-child td {
        border-bottom: none; }
      .post-card-wrapper .post-text-render table tbody tr:hover,
      .post-card-wrapper .page-text-render table tbody tr:hover,
      .page-card-wrapper .post-text-render table tbody tr:hover,
      .page-card-wrapper .page-text-render table tbody tr:hover {
        background: rgba(255, 255, 255, 0.27); }
    .post-card-wrapper .post-text-render figure.wp-image,
    .post-card-wrapper .page-text-render figure.wp-image,
    .page-card-wrapper .post-text-render figure.wp-image,
    .page-card-wrapper .page-text-render figure.wp-image {
      text-align: center;
      background: #ffffff;
      padding: 12px;
      width: auto;
      display: inline-block;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin: 2px; }
      .post-card-wrapper .post-text-render figure.wp-image img:first-child,
      .post-card-wrapper .page-text-render figure.wp-image img:first-child,
      .page-card-wrapper .post-text-render figure.wp-image img:first-child,
      .page-card-wrapper .page-text-render figure.wp-image img:first-child {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto; }
        .post-card-wrapper .post-text-render figure.wp-image img:first-child.small-image,
        .post-card-wrapper .page-text-render figure.wp-image img:first-child.small-image,
        .page-card-wrapper .post-text-render figure.wp-image img:first-child.small-image,
        .page-card-wrapper .page-text-render figure.wp-image img:first-child.small-image {
          height: 150px;
          width: auto; }
      .post-card-wrapper .post-text-render figure.wp-image.alignnone img.size-large, .post-card-wrapper .post-text-render figure.wp-image.alignnone img.size-full, .post-card-wrapper .post-text-render figure.wp-image.aligncenter img.size-large, .post-card-wrapper .post-text-render figure.wp-image.aligncenter img.size-full,
      .post-card-wrapper .page-text-render figure.wp-image.alignnone img.size-large,
      .post-card-wrapper .page-text-render figure.wp-image.alignnone img.size-full,
      .post-card-wrapper .page-text-render figure.wp-image.aligncenter img.size-large,
      .post-card-wrapper .page-text-render figure.wp-image.aligncenter img.size-full,
      .page-card-wrapper .post-text-render figure.wp-image.alignnone img.size-large,
      .page-card-wrapper .post-text-render figure.wp-image.alignnone img.size-full,
      .page-card-wrapper .post-text-render figure.wp-image.aligncenter img.size-large,
      .page-card-wrapper .post-text-render figure.wp-image.aligncenter img.size-full,
      .page-card-wrapper .page-text-render figure.wp-image.alignnone img.size-large,
      .page-card-wrapper .page-text-render figure.wp-image.alignnone img.size-full,
      .page-card-wrapper .page-text-render figure.wp-image.aligncenter img.size-large,
      .page-card-wrapper .page-text-render figure.wp-image.aligncenter img.size-full {
        width: 100%; }
      .post-card-wrapper .post-text-render figure.wp-image figcaption.wp-caption-text,
      .post-card-wrapper .page-text-render figure.wp-image figcaption.wp-caption-text,
      .page-card-wrapper .post-text-render figure.wp-image figcaption.wp-caption-text,
      .page-card-wrapper .page-text-render figure.wp-image figcaption.wp-caption-text {
        text-align: left;
        font-size: 13px;
        margin-top: 8px;
        border-bottom: 2px solid #56b1bf; }
    .post-card-wrapper .post-text-render img,
    .post-card-wrapper .page-text-render img,
    .page-card-wrapper .post-text-render img,
    .page-card-wrapper .page-text-render img {
      cursor: pointer; }
    .post-card-wrapper .post-text-render .responsive-table,
    .post-card-wrapper .page-text-render .responsive-table,
    .page-card-wrapper .post-text-render .responsive-table,
    .page-card-wrapper .page-text-render .responsive-table {
      width: 100%;
      display: none; }
      .post-card-wrapper .post-text-render .responsive-table.visible,
      .post-card-wrapper .page-text-render .responsive-table.visible,
      .page-card-wrapper .post-text-render .responsive-table.visible,
      .page-card-wrapper .page-text-render .responsive-table.visible {
        display: block; }
      .post-card-wrapper .post-text-render .responsive-table table,
      .post-card-wrapper .page-text-render .responsive-table table,
      .page-card-wrapper .post-text-render .responsive-table table,
      .page-card-wrapper .page-text-render .responsive-table table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0; }
      .post-card-wrapper .post-text-render .responsive-table .first-column,
      .post-card-wrapper .page-text-render .responsive-table .first-column,
      .page-card-wrapper .post-text-render .responsive-table .first-column,
      .page-card-wrapper .page-text-render .responsive-table .first-column {
        font-family: 'Prosto One', sans-serif;
        font-size: 15px;
        text-align: right;
        width: 50%; }
      .post-card-wrapper .post-text-render .responsive-table .second-column,
      .post-card-wrapper .page-text-render .responsive-table .second-column,
      .page-card-wrapper .post-text-render .responsive-table .second-column,
      .page-card-wrapper .page-text-render .responsive-table .second-column {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 15px;
        text-align: left; }
  .post-card-wrapper:before,
  .page-card-wrapper:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: #dcdcdc;
    border-top: 5px solid #56b1bf;
    z-index: 1; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .post-card-wrapper,
    .page-card-wrapper {
      width: 90%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .post-card-wrapper,
    .page-card-wrapper {
      width: 95%; } }
  @media (max-width: 599px) {
    .post-card-wrapper,
    .page-card-wrapper {
      width: 100%; } }

.post-extra-info {
  border-top: 3px solid #56b1bf;
  margin-top: 16px;
  text-align: left; }
  .post-extra-info .post-release-date {
    padding: 16px 0;
    text-align: left;
    font-style: italic; }
  .post-extra-info .post-share {
    text-align: left; }
  @media (max-width: 599px) {
    .post-extra-info {
      padding: 0 16px; } }

.pop-image {
  position: fixed;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 600;
  background: #060606; }
  .pop-image.full-pop {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background: #060606; }
    .pop-image.full-pop img {
      width: auto;
      height: auto; }
  .pop-image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .pop-image img.high-image {
      height: 100%;
      width: auto; }
    .pop-image img.wide-image {
      height: auto;
      width: 100%; }
  .pop-image .close-pop-image {
    position: fixed;
    font-size: 32px;
    color: #fff;
    right: 16px;
    top: 16px;
    cursor: pointer;
    opacity: .8;
    z-index: 400;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 37px;
    overflow: hidden;
    background-color: #08708A;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out; }
    .pop-image .close-pop-image:hover {
      opacity: 1; }
  .pop-image .next-pop-image, .pop-image .prev-pop-image {
    display: block;
    width: 34px;
    height: 34px;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    background-color: #08708A;
    opacity: .8;
    cursor: pointer;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    z-index: 50; }
    .pop-image .next-pop-image:hover, .pop-image .prev-pop-image:hover {
      opacity: 1; }
  .pop-image .next-pop-image {
    right: 0; }
    .pop-image .next-pop-image:after {
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      right: 12px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .pop-image .prev-pop-image {
    left: 0; }
    .pop-image .prev-pop-image:after {
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      left: 12px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.gallery {
  text-align: center !important; }
  .gallery .gallery-item {
    display: inline-block; }
    .gallery .gallery-item a {
      font-size: 0 !important;
      display: block; }
    .gallery .gallery-item .gallery-icon {
      padding: 0;
      line-height: 0; }

.gallery-page-render .albums-wrap {
  text-align: left;
  padding: 0 0 8px;
  border-bottom: 3px solid #56b1bf; }
  .gallery-page-render .albums-wrap .album-item {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 4px;
    background: #56b1bf;
    color: #fff;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    cursor: pointer; }
    .gallery-page-render .albums-wrap .album-item:hover, .gallery-page-render .albums-wrap .album-item.active {
      background: #08708A; }

.gallery-page-render .gallery-render {
  position: relative;
  margin-top: 8px;
  height: 200px; }
  .gallery-page-render .gallery-render .gallery-item {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    font-size: 0;
    opacity: 0; }
    .gallery-page-render .gallery-render .gallery-item .gallery-item-thumb {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -webkit-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
    .gallery-page-render .gallery-render .gallery-item .gallery-item-caption {
      position: absolute;
      font-family: 'Tenor Sans', sans-serif;
      font-size: 15px;
      opacity: 0;
      background: rgba(0, 121, 107, 0.56);
      color: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -webkit-transition: all 300ms ease-out;
      transition: all 300ms ease-out; }
      .gallery-page-render .gallery-render .gallery-item .gallery-item-caption .item-caption-name {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
    .gallery-page-render .gallery-render .gallery-item:hover .gallery-item-thumb {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    .gallery-page-render .gallery-render .gallery-item:hover .gallery-item-caption {
      opacity: 1; }

.list-pagination .pagination-item {
  display: inline-block;
  background-color: #56b1bf;
  color: #dcdcdc;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 2px;
  cursor: pointer;
  position: relative;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .list-pagination .pagination-item:hover, .list-pagination .pagination-item.active {
    background-color: #08708A;
    color: #ffffff; }
  .list-pagination .pagination-item.first-page::before, .list-pagination .pagination-item.last-page::before {
    content: ' ';
    width: 10px;
    border-right: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    right: 21px; }
  .list-pagination .pagination-item.first-page::after, .list-pagination .pagination-item.prev-page::after, .list-pagination .pagination-item.next-page::after, .list-pagination .pagination-item.last-page::after {
    content: ' ';
    width: 10px;
    border-right: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px; }
  .list-pagination .pagination-item.first-page::before {
    transform: rotate(135deg);
    right: 7px; }
  .list-pagination .pagination-item.first-page::after {
    transform: rotate(135deg);
    right: 13px; }
  .list-pagination .pagination-item.prev-page::after {
    transform: rotate(135deg);
    right: 13px; }
  .list-pagination .pagination-item.next-page::after {
    transform: rotate(-45deg); }
  .list-pagination .pagination-item.last-page::before {
    transform: rotate(-45deg); }
  .list-pagination .pagination-item.last-page::after {
    transform: rotate(-45deg); }

.tabs-line {
  padding: 0 36px;
  margin-bottom: 16px; }
  .tabs-line li {
    display: inline-block;
    background: #56b1bf;
    color: #fff;
    padding: 16px 8px;
    border-bottom: 5px solid #08708A;
    cursor: pointer; }
    .tabs-line li:hover, .tabs-line li.is-selected {
      background: #08708A; }
    @media (max-width: 599px) {
      .tabs-line li {
        width: 100% !important;
        border: none; } }
  .tabs-line span.selector {
    display: block;
    height: 5px;
    background: #D73A31;
    position: relative;
    top: -5px;
    left: 0; }
    @media (max-width: 599px) {
      .tabs-line span.selector {
        display: none; } }

.tab-content {
  display: none; }

.map-contact {
  margin-top: 16px;
  height: 480px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.44); }
  .map-contact iframe {
    position: absolute;
    top: -50px; }
  .map-contact .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer; }
  @media (max-width: 599px) {
    .map-contact {
      height: 300px; } }

footer {
  position: relative;
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  border-top: 5px solid #D73A31; }
  footer .footer-wrap {
    background: #1a2b2d;
    color: #ffffff;
    padding-top: 16px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px; }
    footer .footer-wrap .divider-block-wrap {
      border-bottom: 2px solid #08708A;
      width: 70%;
      max-width: 1200px;
      padding: 16px 0;
      margin: 0 auto;
      font-size: 13px;
      display: table; }
      @media (max-width: 599px) {
        footer .footer-wrap .divider-block-wrap {
          width: 100%;
          padding: 16px; } }
      footer .footer-wrap .divider-block-wrap .divide-block {
        position: relative;
        display: inline-table; }
        footer .footer-wrap .divider-block-wrap .divide-block.left {
          width: 50%; }
          @media (max-width: 599px) {
            footer .footer-wrap .divider-block-wrap .divide-block.left {
              width: 100% !important; } }
        footer .footer-wrap .divider-block-wrap .divide-block.right {
          width: 25%; }
          @media (max-width: 599px) {
            footer .footer-wrap .divider-block-wrap .divide-block.right {
              width: 100%; } }
        footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block {
          width: 50%;
          position: relative;
          display: inline-table;
          margin-bottom: 13px; }
          footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block .footer-menu-item {
            color: #dcdcdc;
            line-height: 17px; }
            footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block .footer-menu-item:first-child {
              margin-bottom: 4px; }
              footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block .footer-menu-item:first-child span {
                font-family: 'Tenor Sans', sans-serif;
                font-size: 18px;
                cursor: default;
                display: inline-block;
                height: 24px;
                color: #56b1bf;
                border-bottom: 1px dashed #56b1bf; }
                footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block .footer-menu-item:first-child span:hover {
                  color: #56b1bf; }
            footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block .footer-menu-item a:hover {
              color: #D73A31; }
          @media (max-width: 599px) {
            footer .footer-wrap .divider-block-wrap .divide-block .footer-menu-block {
              width: 100% !important; } }
    footer .footer-wrap .contact-info {
      font-family: 'Tenor Sans', sans-serif;
      font-size: 10px;
      padding: 8px;
      line-height: 16px; }
    footer .footer-wrap .copy-right {
      font-size: 11px;
      text-align: center;
      line-height: 22px; }
    footer .footer-wrap .external-links {
      border-bottom: 2px solid #08708A;
      width: 70%;
      max-width: 1200px;
      padding: 16px 0;
      margin: 0 auto;
      text-align: center; }
      @media (max-width: 599px) {
        footer .footer-wrap .external-links {
          width: 100%;
          padding: 16px; } }
      footer .footer-wrap .external-links img {
        max-height: 150px;
        width: auto;
        padding: 8px; }
        @media (max-width: 599px) {
          footer .footer-wrap .external-links img {
            max-height: 100px; } }

.cookie-msg-wrap {
  display: block;
  width: 100%;
  padding: 16px;
  position: fixed;
  bottom: 0;
  background: #56b1bf;
  text-align: justify;
  z-index: 400;
  color: #fff;
  border-top: 3px solid #D73A31; }
  .cookie-msg-wrap a:hover {
    color: #D73A31; }
  .cookie-msg-wrap .cookie-msg-close {
    background: #08708A;
    border: 3px solid #08708A;
    padding: 6px;
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 8px; }
    .cookie-msg-wrap .cookie-msg-close:hover {
      background: transparent; }

.scroll-to-top-btn {
  position: fixed;
  right: 28px;
  bottom: 28px;
  width: 40px;
  height: 40px;
  background: url(img/icons/arrow_up.svg) #08708A no-repeat center center;
  background-size: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 500; }
  .scroll-to-top-btn.show {
    opacity: 1;
    visibility: visible; }
  .scroll-to-top-btn:hover {
    background-color: #56b1bf; }

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 400; }

.contact-form-wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  color: #fff; }
  @media (max-width: 599px) {
    .contact-form-wrapper {
      width: 100%;
      padding: 0 16px; } }
  .contact-form-wrapper .send-form {
    min-width: 270px;
    margin: 0 auto;
    padding-bottom: 16px; }
    .contact-form-wrapper .send-form .input-field {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px; }
      .contact-form-wrapper .send-form .input-field:nth-child(1) {
        float: left;
        width: 49%; }
      .contact-form-wrapper .send-form .input-field:nth-child(2) {
        width: 49%;
        margin-left: 2%; }
      .contact-form-wrapper .send-form .input-field span {
        color: #dcdcdc;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 18px;
        display: block;
        line-height: 35px; }
      .contact-form-wrapper .send-form .input-field input {
        display: block;
        width: 100%;
        border: 3px solid #08708A;
        padding: 8px;
        font-size: 16px; }
      @media (max-width: 599px) {
        .contact-form-wrapper .send-form .input-field {
          width: 100% !important;
          float: none !important;
          margin-left: 0 !important; } }
    .contact-form-wrapper .send-form .input-field-box {
      display: block;
      width: 100%;
      margin-bottom: 8px; }
      .contact-form-wrapper .send-form .input-field-box span {
        color: #dcdcdc;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 18px;
        display: block;
        line-height: 35px; }
      .contact-form-wrapper .send-form .input-field-box textarea {
        display: block;
        width: 100%;
        border: 3px solid #08708A;
        padding: 8px;
        font-size: 16px;
        resize: vertical; }
    .contact-form-wrapper .send-form .error-field {
      color: #D73A31;
      font-size: 13px; }
    .contact-form-wrapper .send-form .done-field {
      color: #56b1bf;
      font-size: 13px; }
    .contact-form-wrapper .send-form .email-send-submit {
      margin: 13px auto;
      background: #08708A;
      padding: 8px;
      display: block;
      max-width: 300px;
      width: 100%;
      cursor: pointer;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      -webkit-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .contact-form-wrapper .send-form .email-send-submit:hover {
        background: #56b1bf; }
  .contact-form-wrapper.darken {
    margin-top: 32px; }
    .contact-form-wrapper.darken span, .contact-form-wrapper.darken textarea, .contact-form-wrapper.darken input {
      color: #222222 !important; }

#recaptcha {
  display: none; }

.news-feed-form {
  width: 100%; }
  .news-feed-form label {
    line-height: 32px;
    width: 100%;
    display: block; }
  .news-feed-form .news-feed-title {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    color: #dcdcdc; }
  .news-feed-form .news-feed-email {
    display: block;
    width: 100%;
    border: 3px solid #08708A;
    padding: 8px;
    font-size: 16px; }
  .news-feed-form .news-feed-error {
    color: #d73a31;
    font-size: 13px; }
  .news-feed-form .news-feed-done {
    color: #56b1bf;
    font-size: 13px; }
  .news-feed-form .news-feed-submit {
    background: #08708A;
    padding: 8px;
    margin: 13px 0;
    width: 50%;
    cursor: pointer;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .news-feed-form .news-feed-submit:hover {
      color: #fff;
      background: #56b1bf; }

/*# sourceMappingURL=style.css.map */