// POP BOXES ============================================================
.box-section {
  @include gradient($menuBorderHoverColor, $main01top);
  margin-top: -100px;
  text-align: center;
  font-size: 0;
  .boxes-wrapper {
    display: initial;
    margin: 0 auto;
    @include awesome-shadow();
    position: relative;
    top: -50px;
    z-index: 40;
    @include content-width();
    @include breakpoint(phoneonly) {
      display: block;
      width: 90%;
    }
    .pop-box {
      position: relative;
      display: inline-block;
      min-height: 200px;
      width: 300px;
      height: 300px;
      min-width: 200px;
      background: $mainColor;
      .box-title {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        @include bold-font(20px);
        background: $menuColor;
        color: #fff;
        /* height: 30%; */
        line-height: 70px;
      }
      .box-icon {
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: rgba(51, 51, 51, 0.23);
      }
      &.gallery {
        background: url(./img/boxes/galllery-min.JPG) no-repeat;
      }
      &.places {
        background: url(./img/boxes/places-min.jpg) no-repeat;
      }
      &.school {
        background: url(./img/boxes/school-min.JPG) no-repeat;
      }
      &.gallery, &.places, &.school {
        background-size: 100% 100%;
        transform: scale(1);
        @include transition(all 300ms ease-out);
        &:hover {
          transform: scale(1.1);
          z-index: 150;
          @include awesome-shadow();
        }
      }

    }
  }
}