// CARD TITLE ===========================================================
.card-box-title-wrap,
.card-title-wrapper {
  position: relative;
  z-index: 15;
  top: -40px;
  display: block;
  width: 100%;
  height: auto;
  .card-title-line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: $textColor;
    position: absolute;
    line-height: 24px;
    top: 50%;
    &.start {
      @include translate-xy(-35px, -50%)
    }
    &.end {
      @include translate-xy(5px, -50%)
    }
    @include breakpoint(phoneonly) {
      display: none;
    }
  }
  .card-title {
    color: $textColor;
    display: inline-block;
    @include bold-font(25px);
    max-width: 70%;
    word-wrap: break-word;
    word-break: normal;
    @include breakpoint(phoneonly) {
      max-width: 100%;
    }

  }
}

.card-box-title-wrap {
  top: 0;
  text-align: center;
}
