// CONTACT FORM =============================================================
.contact-form-wrapper {
  @include content-width();
  margin: 0 auto;
  padding: 0 32px;
  color: #fff;
  @include breakpoint(phoneonly) {
    width: 100%;
    padding: 0 16px;
  }
  .send-form {
    //max-width: 560px;
    min-width: 270px;
    margin: 0 auto;
    padding-bottom: 16px;

    .input-field{
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
      &:nth-child(1){
        float: left;
        width: 49%;
      }
      &:nth-child(2){
        width: 49%;
        margin-left: 2%;
      }
      span {
        color: #dcdcdc;
        @include regular-font(18px);
        display: block;
        line-height: 35px;
      }
      input{
        display: block;
        width: 100%;
        border: 3px solid $accentColor;
        padding: 8px;
        font-size: 16px;
      }
      @include breakpoint(phoneonly) {
        width: 100% !important;
        float: none !important;
        margin-left: 0 !important;
      }
    }
    .input-field-box{
      display: block;
      width: 100%;
      margin-bottom: 8px;
      span {
        color: #dcdcdc;
        @include regular-font(18px);
        display: block;
        line-height: 35px;
      }
      textarea{
        display: block;
        width: 100%;
        border: 3px solid $accentColor;
        padding: 8px;
        font-size: 16px;
        resize: vertical;
      }
    }
    .error-field {
      color: $secondaryAccentColor;
      font-size: 13px;
    }
    .done-field {
      color: $mainColor;
      font-size: 13px;
    }
    .email-send-submit {
      margin: 13px auto;
      background: $accentColor;
      padding: 8px;
      display: block;
      max-width: 300px;
      width: 100%;
      cursor: pointer;
      @include transition(all 200ms ease-out);
      &:hover {
        background: $mainColor;
      }
    }
  }
  &.darken {
    margin-top: 32px;
    span,textarea, input{
      color: $textColor !important;
    }
  }
}

#recaptcha {
  display: none;
}