// EVENTS LIST PAGE =====================================================
.events-card-wrapper {
  @include content-width();
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px;

  &:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: $mainBackground;
    border-top: 5px solid $mainColor;
    z-index: 1;
  }
  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(phablet) {
    width: 95%;
  }
  @include breakpoint(phoneonly) {
    width: 100%;
  }
}

.events-timeline {
  @include content-width();
  position: relative;
  margin: 0 auto 40px;
  padding: 20px;

  &.paged {
    width: 100%;
  }

  .timeline-line {
    height: 100%;
    width: 5px;
    position: absolute;
    background: $secondaryAccentColor;
    left: 50%;
    @include translate-x(-50%);
    z-index: 40;

    @include breakpoint(phonephablet) {
      display: none;
      left: 16px;
      @include translate-x(0);
    }
  }

  .timeline-item {
    margin: 20px 0;
    position: relative;

    &.ng-move,
    &.ng-enter,
    &.ng-leave{
      @include transition(all linear 500ms);
    }
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter{
      opacity: 0;
    }
    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active{
      opacity: 1;
    }
    &.ng-leave-stagger {
      -moz-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      -webkit-transition-delay: 200ms;
      transition-delay: 200ms;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    &.ng-enter-stagger {
      -moz-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      -webkit-transition-delay: 200ms;
      transition-delay: 200ms;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .timeline-content {
      width: 50%;
      background: #fff;

      &.future {
        border-bottom: 5px solid $mainBackground;
      }
      &.today {
        border-bottom: 5px solid $secondaryAccentColor;
      }
      &.past {
        //border-bottom: 5px solid $mainColor;
      }
      @include awesome-shadow();
      display: table;
      position: relative;
      .event-content {
        display: block;
        height: 100%;
        position: relative;
        padding: 0 8px;
        top: 0;
        width: 100%;
        min-height: 100px;
        .event-title {
          @include bold-font(15px);
          position: absolute;
          top: 50%;
          left: 8px;
          @include translate-y(-50%);
        }
        .event-desc {
          @include regular-font(12px);
        }
      }
      .event-more-btn {
        text-align: center;
        color: $mainBackground;
        background: $accentColor;
        padding: 8px 16px;
        max-width: 200px;
        display: block;
        height: 34px;
        float: right;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        bottom: -20px;
        right: 8px;
        line-height: 16px;
        @include transition(all 200ms ease-out);
        &:hover {
          color: #fff;
          background: $mainColor;
        }
      }
      .event-image {
        overflow: hidden;
        height: 100px;
        width: 100px;
        display: table-cell;
        vertical-align: top;
        font-size: 0;
        img {
          height: 100%;
        }
        &.resp {
          display: none;
        }
      }
      &.odd {
        position: relative;
        left: 50%;
        @include breakpoint(desktop) {
          .event-more-btn {
            left: 8px;
            right: initial;
          }
        }
        @include breakpoint(laptop) {
          .event-more-btn {
            left: 8px;
            right: initial;
          }
        }
        @include breakpoint(tablet) {
          .event-more-btn {
            left: 8px;
            right: initial;
          }
        }
        .event-image {
          right: 0;
        }
      }

      @include breakpoint(phonephablet) {
        width: 100%;
        &.odd {
          left: 0;
          .event-more-btn {
            right: 8px;
          }
          .event-image {
            display: none;
            &.resp {
              display: table-cell;
            }
          }
        }
        .event-more-btn {
          bottom: -66px;
          float: none;
          left: 0;
          right: 0 !important;
          margin: 0 auto;
        }
      }
    }

    .timeline-date {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate-y(-50%);
      color: #ffffff;
      background: $menuBorderHoverColor;
      z-index: 3;
      padding: 8px 16px;
      &.odd {
        @include translate-xy(-100%, -50%)
      }
      @include breakpoint(phonephablet) {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        @include translate-y(0);
        &.odd {
          @include translate-xy(0, 0)
        }

      }
    }
    @include breakpoint(phonephablet) {
      margin-bottom: 35px;
    }
  }
  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(phablet) {
    width: 95%;
  }
  @include breakpoint(phoneonly) {
    width: 100%;
  }
}