// FOOTER ================================================================
footer {
  position: relative;
  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  border-top: 5px solid $secondaryAccentColor;
  .footer-wrap {
    background: $footerColor;
    color: #ffffff;
    padding-top: 16px;
    @include regular-font(14px);
    .divider-block-wrap {
      border-bottom: 2px solid $accentColor;
      min-width: 70%;
      padding: 16px 32px;
      margin: 0 auto;
      font-size: 13px;
      display: table;

      @include breakpoint(phoneonly) {
        width: 100%;
        padding: 16px !important;
      }
      .divide-block {
        position: relative;
        display: inline-table;
        width: 100%;
        .fifty {
          width: 50%;
          display: inline-block;
          @include breakpoint(phoneonly) {
            width: 100%;
          }
        }
        .footer-menu-block {
          width: 33%;
          position: relative;
          display: inline-table;
          margin-bottom: 13px;
          float:left;
          overflow: hidden;
          .footer-menu-item {
            color: $mainBackground;
            line-height: 17px;
            font-size: 12px;
            &:first-child {
              margin-bottom: 4px;
              span {
                @include regular-font(15px);
                cursor: default;
                display: table;
                height: 24px;
                color: $mainColor;
                text-transform: uppercase;
                &:hover {
                  color: $mainColor;
                }
              }
            }
            a:hover {
              color: $secondaryAccentColor;
            }
          }
          @include breakpoint(phonephablet) {
            width: 100% !important;
          }
        }
      }
    }
    .contact-info {
      @include regular-font(12px);
      padding: 8px;
      line-height: 16px;
    }
    .copy-right {
      font-size: 11px;
      text-align: center;
      line-height: 22px;
    }

    .external-links {
      border-bottom: 2px solid $accentColor;
      width: 100%;
      padding: 16px 32px;
      margin: 0 auto;
      text-align: center;
      @include breakpoint(phoneonly) {
        width: 100%;
        padding: 16px;
      }
      img {
        max-height: 130px;
        width: auto;
        padding: 8px;
        @include breakpoint(phoneonly) {
          max-height: 100px;
        }
      }
    }
  }
}
