// MAIN HEADER ==========================================================
.main-header-wrapper {
  overflow: hidden;
  .main-header-img {
    background-size: cover;
    background-position-x: center;
    background-position-y: -100px;
    width: 100%;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      transform: translate(-50%);
      top: -30%;
      left: 50%;
    }
  }
  .main-logo {
    background: rgba(0, 0, 0, 0.35) url(./img/logo.svg) no-repeat center 20%;
    background-size: 180px;
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .main-title {
    position: absolute;
    //max-width: 380px;
    @include content-width();
    @include bold-font(36px);
    color: #fff;
    top: 50%;
    background-color: $menuColor;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 15;
    display: inline;
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 0 16px;
    line-height: 56px;
    @include breakpoint(phoneonly) {
      font-size: 26px;
      line-height: 36px;
    }
  }
}

// MINI HEADER ==========================================================
.mini-header-section {
  height: 350px;
  background-color: $accentColor;
  //box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.44);

  .mini-header {
    height: 100%;
    .small-header-img {
      background-size: cover;
      background-position-x: center;
      background-position-y: -100px;
      width: 100%;
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
      &:before {
        width: 100%;
        content: "";
        background: linear-gradient(0deg,$mainBackground 0,hsla(0,0%,97%,0));
        height: 40%;
        z-index: 1;
        display: block;
        position: absolute;
        bottom: 0;
      }
      img {
        min-width: 100%;
        position: absolute;
        min-height: 500px;
        bottom: 0;
        @include translate-xy(-50%, -30%);
        top: 0;
        left: 50%;
        @include blur(1.5px); //was 3px
        @include transition(all 300ms ease-out);
        &:hover {
          @include blur(0);
        }
        &.full-height {
          width: auto;
          height: 100%;
          @include translate-x(-50%);
        }
      }
    }
  }
}