/*********************
Icons
*********************/
.home-icon {
  background: url(./img/icons/tree.svg) no-repeat center;
  background-size: 20px;
  display: block;
  width: 25px;
  @include breakpoint(phonephablet) {
    background-size: 25px;
    width: 30px;
  }
}

.gallery-icon {
  background: url(./img/icons/photos.svg) no-repeat center;
  background-size: 30%;
  display: block;
}

.places-icon {
  background: url(./img/icons/map.svg) no-repeat center;
  background-size: 30%;
  display: block;
}

.school-icon {
  background: url(./img/icons/tree.svg) no-repeat center;
  background-size: 30%;
  display: block;
}

.brand-icon {
  background: url(./img/icons/brand.svg) no-repeat center;
  background-size: 30%;
  display: block;
}

.search-icon {
  background: url(./img/icons/search.svg) no-repeat center;
  background-size: 50%;
}

.share-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

.fb-share-icon {
  background: #3b5998 url(./img/icons/facebook.svg) no-repeat center;
  background-size: 30%;
}

.tw-share-icon {
  background: #1da1f2 url(./img/icons/twitter.svg) no-repeat center;
  background-size: 70%;
}

.gp-share-icon {
  background: #c9302c url(./img/icons/g_plus.svg) no-repeat center;
  background-size: 70%;
}

.facebook-icon {
  background: url(./img/icons/facebook.svg) no-repeat center;
  background-size: 23%;
}

.instagram-icon {
  background: url(./img/icons/instagram.svg) no-repeat center;
  background-size: 45%;
}

.loading-blob {
  background: url(./img/loading.gif) no-repeat center;
  background-size: cover;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  @include translate-y(-50%);
}
