// POP IMAGE FULL SCREEN ================================================
.pop-image {
  position: fixed;
  width: auto;
  height: auto;
  margin: auto;
  z-index: 600;
  background: rgb(6, 6, 6);
  &.full-pop {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background: rgb(6, 6, 6);
    img {
      width: auto;
      height: auto;
    }
  }
  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    &.high-image {
      height: 100%;
      width: auto;
    }
    &.wide-image {
      height: auto;
      width: 100%;
    }
  }
  .close-pop-image {
    position: fixed;
    font-size: 32px;
    color: #fff;
    right: 16px;
    top: 16px;
    cursor: pointer;
    opacity: .8;
    z-index: 400;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 37px;
    overflow: hidden;
    //border-radius: 50%;
    background-color: $accentColor;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition(all 150ms ease-out);
    &:hover {
      opacity: 1;
    }
  }

  .next-pop-image, .prev-pop-image {
    display: block;
    width: 34px;
    height: 34px;
    position: fixed;
    top: 50%;
    @include translate-y(-50%);
    color: #ffffff;
    background-color: $accentColor;
    opacity: .8;
    cursor: pointer;
    @include transition(all 150ms ease-out);
    z-index: 50;
    &:hover {
      opacity: 1;
    }
  }
  .next-pop-image {
    right: 0;
    &:after {
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      right: 12px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      @include transform(rotate(45deg));
    }
  }
  .prev-pop-image {
    left: 0;
    &:after {
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 12px;
      left: 12px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      @include transform(rotate(45deg));
    }
  }
}

.gallery {
  text-align: center !important;

  .gallery-item {
    display: inline-block;
    a {
      font-size: 0 !important;
      display: block;
    }
    .gallery-icon {
      padding: 0;
      line-height: 0;
    }
  }
}

// GALLERY ==============================================================
.gallery-page-render {
  .albums-wrap {
    text-align: left;
    padding: 0 0 8px;
    border-bottom: 3px solid $mainColor;

    .album-item {
      display: inline-block;
      padding: 8px 16px;
      margin-right: 4px;
      background: $mainColor;
      color: #fff;
      @include transition(all 300ms ease-out);
      cursor: pointer;
      &:hover, &.active {
        background: $accentColor;
      }
    }
  }

  .gallery-render {
    position: relative;
    margin-top: 8px;
    height: 200px;

    .gallery-item {
      position: absolute;
      overflow: hidden;
      cursor: pointer;
      font-size: 0;
      opacity: 0;

      .gallery-item-thumb {
        @include transform(scale(1));
        @include transition(all 300ms ease-out);
      }

      .gallery-item-caption {
        position: absolute;
        @include regular-font(15px);
        opacity: 0;
        background: $menuColor;
        color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include transition(all 300ms ease-out);

        .item-caption-name {
          position: relative;
          top: 50%;
          @include translate-y(-50%);
        }
      }
      &:hover {
        .gallery-item-thumb {
          @include transform(scale(1.1));
        }
        .gallery-item-caption {
          opacity: 1;
        }
      }
    }
  }
}


// 360 PICTURES =========================================================
.wp-image {
  position: relative;
}
.panorama-view {
  padding: 0 !important;

  .sphere-root,
  .sphere-container,
  .sphere-navbar,
  .sphere-autoratateBtn-sphere,
  .sphere-autoratateBtn-equator,
  .sphere-zoomBtn,
  .sphere-zoomBtn-range,
  .sphere-zoomBtn-value,

  .sphere-fullScreenBtn-part{
    padding: 0 !important;
    position: relative;
    z-index: 10;
  }

  .sphere-container canvas {
    cursor: move;
  }
}