// LANGUAGE SELECTOR ====================================================
.language-selector {
  position: absolute;
  top: 0;
  display: inline-block;
  text-transform: uppercase;
  right: 32px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  @include breakpoint(phonephablet) {
    right: 0;
  }
  .lang-active {
    padding-right: 20px;
    display: block;
    height: 50px;
    @include transition(all 200ms ease-out);
    &::after {
      content: ' ';
      width: 10px;
      transform: rotate(45deg);
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      height: 10px;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
    }
    &:hover, &.active {
      background: $menuBorderHoverColor;
      border-bottom: 5px solid $accentColor;
    }
  }
  ul {
    display: none;
  }

  &.open {
    .lang-active {
      background: $menuBorderHoverColor;
      border-bottom: 5px solid $accentColor;
    }
    ul {
      display: block;
    }
  }

  .lang-select {
    border-left: 5px solid transparent;
    background: $menuBorderHoverColor;
    padding-right: 20px;

    &:hover {
      border-left: 5px solid $accentColor;
    }
  }
}
