// TOP MENU =============================================================
.navigation-toolbar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $menuColor;
  border-bottom: 5px solid $menuBorderHoverColor;
  position: fixed;
  top: 0;
  color: #fff;
  @include bold-font(15px);
  z-index: 500;
  .menu-resp-btn {
    width: 50px;
    height: 50px;
    display: none;
    background: url(./img/icons/menu.svg) no-repeat center center;
    background-size: 30px;
    cursor: pointer;
    @include breakpoint(phonephablet) {
      display: block;
    }
  }
  nav {
    .top-menu-list {
      margin-left: 50px;
      li.menu-item {
        display: inline-block;
        padding: 0 8px;
        height: 50px;
        cursor: pointer;
        @include transition(all 200ms ease-out);
        &.active, &:hover {
          background-color: $menuBorderHoverColor;
          border-bottom: 5px solid $accentColor;
          @include breakpoint(phonephablet) {
            border-bottom: none;
            border-left: 5px solid $accentColor;
          }
        }
        span.submenu-item-list {
          position: static;
          display: block;
          font-size: 15px;
          font-weight: 600;
          @include transition(all 200ms ease-out);
          ul.submenu-wrap {
            position: absolute;
            width: auto;
            display: none;
            min-width: 150px;
            background: $menuBorderHoverColor;
            margin-top: 0;
            margin-left: -8px;
            li.submenu-item {
              display: block;
              border-left: 5px solid transparent;
              border-bottom: none;
              height: 40px;
              font-size: 14px;
              font-weight: 600;
              padding: 0 16px 0 8px;
              @include transition(all 200ms ease-out);
              &:hover, &.active {
                border-left: 5px solid $accentColor;
              }
              @include breakpoint(phonephablet) {
                font-size: 15px;
                font-weight: 600;
              }
              a {
                line-height: 40px;
              }
            }
            @include breakpoint(phonephablet) {
              position: relative;
              display: block;
            }
          }
          &:hover, &.active {
            ul.submenu-wrap {
              display: block;
            }
          }
        }
        a {
          display: block;
          font-weight: 600;
          @include breakpoint(phonephablet) {
            font-size: 15px;
          }
        }
        @include breakpoint(phonephablet) {
          display: block;
          height: auto;
          line-height: 40px;
        }
      }
      @include breakpoint(phonephablet) {
        width: auto;
        min-width: 200px;
        max-width: 300px;
        margin-left: -300px;
        height: 100%;
        background: $mainColor;
        display: block;
        position: fixed;
        margin-top: 0;
        opacity: 0;
        @include transition(margin 300ms ease-out);

      }
    }
    &.open {
      height: auto;
      position: fixed;
      top: 50px;
      bottom: 0;
      .top-menu-list {
        opacity: 1;
        margin-left: 0;
        overflow-y: auto;
        position: relative;
      }
    }
  }
  @include breakpoint(phonephablet) {
    @include bold-font(19px);
  }
}

.main-header-section, .mini-header-section, .box-section, .events-section {
  position: relative;
}

.search-wrap {
  position: absolute;
  right: 302px;
  top: 0;
  min-width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  @include transition(all 200ms ease-out);
  .search-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-bottom: 5px solid transparent;
  }
  &:hover, &.search-btn--active {
    border-bottom: 5px solid $accentColor;
    background-color: $menuBorderHoverColor;
  }
  .search-input {
    background-color: $mainBackground;
    display: inline-block;
    left: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 50px;
    vertical-align: top;
    font-size: 14px;
    visibility: hidden;
    padding: 0;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.2);
    color: $textColor;
    @include transition(width 200ms ease-out);
    input {
      padding: 0 8px;
      width: 100%;
    }
  }
  &.search-wrap--active {
    .search-btn {
      border-bottom: 5px solid $accentColor;
      background-color: $menuBorderHoverColor;
    }
    .search-input {
      width: 250px;
      height: 50px;
      visibility: visible;
    }
  }
  @include breakpoint(phonephablet) {
    right: 240px;
  }
}