
// NEWS SECTION =========================================================
.news-section {
  @include gradient($main01bottom, $main02top);
  min-height: 100px;
  padding: 16px 0;

  .news-box-wrap {
    position: relative;
    @include content-width();
    margin: 24px auto;
    padding: 32px 0;
    .news-box-content {
      position: relative;
      width: 50%;
      padding: 24px;
      background: #fff;
      @include awesome-shadow();
      &.odd-element {
        right: -50%;
        @include breakpoint(phonephablet) {
          right: 0;
          width: 100%;
        }
      }
      &.full {
        width: 100%;
        right: 0;
      }
      .news-box-text {
        text-align: justify;
        line-height: 24px;
        @include regular-font(17px);
        color: $textColor;
        @include breakpoint(phonephablet) {
          @include regular-font(15px);
        }
      }
      .news-more-btn {
        text-align: center;
        color: $mainBackground;
        background: $accentColor;
        padding: 8px;
        width: 200px;
        display: block;
        height: 34px;
        margin-top: 10px;
        float: right;
        cursor: pointer;
        line-height: 16px;
        @include transition(all 200ms ease-out);
        &:hover {
          color: #fff;
          background: $mainColor;
        }
        @include breakpoint(phonephablet) {
          float: none;
          margin: 10px auto 0;
        }
      }
    }
    .news-box-image {
      position: absolute;
      height: 100%;
      width: 50%;
      background: $accentColor;
      top: 0;
      right: 0;
      z-index: 15;
      @include awesome-shadow();
      overflow: hidden;
      &.odd-element {
        left: 0;
        @include breakpoint(phonephablet) {
          height: 200px;
          width: 100%;
          position: relative;
        }
      }
      img {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        @include translate-xy(-50%, -50%)
      }
      &.width-max img {
        //height: auto;
        //width: 100%;
      }
      &.height-max img {
        //height: 100%;
        //width: auto;
      }
    }
    @include breakpoint(tablet) {
      width: 90%;
    }
    @include breakpoint(phablet) {
      width: 95%;
    }
    @include breakpoint(phoneonly) {
      width: 100%;
      padding: 0 16px;
    }
  }

  .more-news-btn {
    text-align: center;
    color: #ffffff;
    background: $menuBorderHoverColor;
    width: 200px;
    font-size: 18px;
    opacity: .8;
    display: block;
    line-height: 47px;
    height: 50px;
    border-bottom: 5px solid $secondaryAccentColor;
    margin: 10px auto;
    cursor: pointer;
    @include transition(all 200ms ease-out);
    &:hover {
      opacity: 1;
      color: $mainBackground;
      background: $accentColor;
    }
  }
}

// NEWS LIST PAGE ========================================================
.news-card-wrapper {
  @include content-width();
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px;

  &:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: $mainBackground;
    border-top: 5px solid $mainColor;
    z-index: 1;
  }

  .news-list-item {
    background: #ffffff;
    @include awesome-shadow();
    margin: 24px 0;
    border-radius: 3px;
    border-bottom: 3px solid $menuBorderHoverColor;
    padding: 10px 10px 5px;
    position: relative;
    text-align: left;
    display: table;
    width: 100%;

    &.ng-move,
    &.ng-enter,
    &.ng-leave{
      @include transition(all linear 500ms);
    }
    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter{
      opacity: 0;
    }
    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active{
      opacity: 1;
    }
    &.ng-leave-stagger {
      -moz-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      -webkit-transition-delay: 200ms;
      transition-delay: 200ms;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    &.ng-enter-stagger {
      -moz-transition-delay: 200ms;
      -o-transition-delay: 200ms;
      -webkit-transition-delay: 200ms;
      transition-delay: 200ms;
      -moz-transition-duration: 0s;
      -o-transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
    .news-featured-image {
      position: relative;
      display: table-cell;
      vertical-align: top;
      @include breakpoint(phoneonly) {
        display: block;
        text-align: center;
      }
    }

    .news-item-content {
      display: inline-block;
      margin-left: 8px;
      position: relative;

      .news-item-title {
        @include bold-font(22px);
        display: block;
        @include breakpoint(phoneonly) {
          text-align: center;
        }
      }
      .news-item-date {
        @include regular-font(14px);
        color: #989898;
        display: block;
        padding-bottom: 8px;
        @include breakpoint(phoneonly) {
          text-align: center;
        }
      }
      .page-text-render {
        padding-bottom: 20px;
        text-align: justify;
      }
      @include breakpoint(phoneonly) {
        margin-left: 0;
      }
    }
  }
  .more-news-btn {
    text-align: center;
    color: $mainBackground;
    background: $accentColor;
    padding: 8px;
    width: 200px;
    display: block;
    height: 34px;
    margin-top: 10px;
    position: absolute;
    bottom: -17px;
    right: 8px;
    cursor: pointer;
    line-height: 16px;
    @include transition(all 200ms ease-out);
    &:hover {
      color: #fff;
      background: $mainColor;
    }
    @include breakpoint(phoneonly) {
      margin: 10px auto 0;
      right: 0;
      left: 0;
    }
  }
  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(phablet) {
    width: 95%;
  }
  @include breakpoint(phoneonly) {
    width: 100%;
  }
}