// NEWS FEED ================================================================
.news-feed-form {
  width: 100%;
  label {
    //height: 65px;
    line-height: 32px;
    width: 100%;
    display: block;
  }
  .news-feed-title {
    @include regular-font(18px);
    color: $mainBackground;;
  }
  .news-feed-email {
    display: block;
    width: 100%;
    border: 3px solid $accentColor;
    padding: 8px;
    font-size: 16px;
  }
  .news-feed-error {
    color: #d73a31;
    font-size: 13px;
  }
  .news-feed-done {
    color: $mainColor;
    font-size: 13px;
  }
  .news-feed-submit {
    background: $accentColor;
    padding: 8px;
    margin: 13px 0;
    width: 50%;
    cursor: pointer;
    @include transition(all 200ms ease-out);
    &:hover {
      color: #fff;
      background: $mainColor;
    }
  }
}