// PAGINATION ============================================================
.list-pagination {

  .pagination-item {
    display: inline-block;
    background-color: $mainColor;
    color: $mainBackground;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 2px;
    cursor: pointer;
    position: relative;
    @include transition(all 200ms ease-out);
    &:hover, &.active {
      background-color: $accentColor;
      color: #ffffff;
    }
    &.first-page, &.last-page {
      &::before {
        content: ' ';
        width: 10px;
        border-right: 2px solid $mainBackground;
        border-bottom: 2px solid $mainBackground;
        height: 10px;
        display: block;
        position: absolute;
        top: 15px;
        right: 21px;
      }
    }
    &.first-page, &.prev-page, &.next-page, &.last-page {
      &::after {
        content: ' ';
        width: 10px;
        border-right: 2px solid $mainBackground;
        border-bottom: 2px solid $mainBackground;
        height: 10px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
    &.first-page {
      &::before {
        transform: rotate(135deg);
        right: 7px;
      }
      &::after {
        transform: rotate(135deg);
        right: 13px;
      }
    }
    &.prev-page {
      &::after {
        transform: rotate(135deg);
        right: 13px;
      }
    }
    &.next-page {
      &::after {
        transform: rotate(-45deg);
      }
    }
    &.last-page {

      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

}
