// POST PAGE =============================================================
.post-card-wrapper,
.page-card-wrapper {
  @include content-width();
  position: relative;
  left: 0;
  right: 0;
  margin: 24px auto;
  text-align: center;
  min-height: 200px;

  .post-text-render,
  .page-text-render {
    text-align: center;
    //position: relative;
    z-index: 15;
    font-size: 0;
    margin-bottom: 20px;
    padding: 0 32px;

    blockquote {
      text-align: justify;
      border-left: 5px solid $mainColor;
      margin-left: 32px;
    }
    p, div, address {
      text-align: justify;
      line-height: 24px;
      @include regular-font(17px);
      color: $textColor;
      //padding: 8px 32px;
      padding: 8px 0;
      a {
        @include bold-font(16px);
        color: $mainColor;
      }
      strong {
        @include bold-font(16px);
      }
      @include breakpoint(phoneonly) {
        padding: 8px 16px;
      }
    }
    ul {
      text-align: justify;
      margin-left: 32px;
      margin-right: 32px;
      line-height: 24px;
      @include regular-font(17px);
      color: $textColor;
      li {
        position: relative;
        padding-left: 32px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background-color: $mainColor;
          width: 7px;
          height: 7px;
          top: 7px;
          left: 16px;
        }
        a {
          @include bold-font(16px);
          color: $mainColor;
        }
        strong {
          @include bold-font(16px);
        }
      }
    }
    ol {
      text-align: justify;
      margin-left: 64px;
      margin-right: 32px;
      line-height: 24px;
      @include regular-font(17px);
      color: $textColor;
      li {
        list-style-type: decimal;
        position: relative;
      }
      a {
        @include bold-font(16px);
        color: $mainColor;
      }
      strong {
        @include bold-font(16px);
      }
    }

    table {
      @include regular-font(15px);
      border-collapse: collapse;
      border-spacing: 0;
      margin: 16px auto;
      border: none;
      p, div {
        @include regular-font(15px)
      }
      strong {
        @include bold-font(15px);
      }
      p, div, strong {
        padding: 0;
        text-align: inherit;
      }
      th {
        border-bottom: 2px solid $secondaryAccentColor;
        vertical-align: top;
        padding: 6px;
      }
      tbody {
        td {
          border-bottom: 2px solid $mainColor;
          vertical-align: middle;
          padding: 6px;
        }
        tr:last-child td {
          border-bottom: none;
        }
        tr:hover {
          background: rgba(255, 255, 255, 0.27);
        }
      }
    }
    figure.wp-image {
      text-align: center;
      position: relative;
      background: #ffffff;
      padding: 8px;
      width: auto;
      display: inline-block;
      @include awesome-shadow();
      margin: 2px;
      line-height: 0;

      img:first-child {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        &.small-image {
          height: 150px;
          width: auto;
        }
      }

      &.alignnone, &.aligncenter {
        img.size-large, img.size-full {
          width: 100%;
        }
      }

      figcaption.wp-caption-text {
        //text-align: left;
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 5px;
        line-height: 15px;
        //border-bottom: 2px solid $mainColor;
      }
    }
    img {
      cursor: pointer;
    }

    .responsive-table {
      //padding: 0 !important;
      width: 100%;
      display: none;
      &.visible {
        display: block;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }
      .first-column {
        @include bold-font(15px);
        text-align: right;
        width: 50%;
      }
      .second-column {
        @include regular-font(15px);
        text-align: left;
      }
    }
  }
  &:before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: -100px;
    background: $mainBackground;
    border-top: 5px solid $mainColor;
    z-index: 1;
  }
  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(phablet) {
    width: 95%;
  }
  @include breakpoint(phoneonly) {
    width: 100%;
  }
}

.post-extra-info {
  border-top: 3px solid #56b1bf;
  margin-top: 16px;
  text-align: left;
  .post-release-date {
    padding: 16px 0;
    text-align: left;
    font-style: italic;
  }

  .post-share {
    text-align: left;
  }
  @include breakpoint(phoneonly) {
    padding: 0 16px;
  }
}