// SECTION SEPARATOR=====================================================
.section-sepa-one,
.section-sepa-two {
  height: auto;
  width: 100%;
  overflow: hidden;
  //margin: -10px 0;
  img {
    width: 100%;
    @include breakpoint(phoneonly) {
      width: 200%;
      position: relative;
      left: 50%;
      @include translate-x(-50%);
    }
  }
}

.section-sepa-one {
  background-color: $main01bottom;
}

.section-sepa-two {
  background-color: $main02bottom;
}

.section-title {
  text-align: center;
  @include bold-font(35px);
  @include breakpoint(phonephablet) {
    font-size: 28px;
  }
}

.white-shade {
  color: #ffffff;
}

// EVENTS SECTION =======================================================
.events-section {
  background-color: $main01top;
  min-height: 100px;
  padding: 16px 0;
}

// FOOTER SECTION ========================================================
.foo-section {
  background-color: $main02bottom;
  min-height: 100px;
}