// SOCIAL ICONS =========================================================
.social-icons-wrap {
  position: absolute;
  right: 102px;
  top: 0;
  font-size: 0;
  .facebook-icon, .instagram-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-bottom: 5px solid transparent;
    @include transition(all 200ms ease-out);
    &:hover {
      background-color: $menuBorderHoverColor;
      border-bottom: 5px solid $accentColor;
    }
  }
  @include breakpoint(phonephablet) {
    right: 70px;
  }
}