// NATURE SCHOOL =============================================================
.tabs-line {
  padding: 0 36px;
  margin-bottom: 16px;
  ul{
    display: table;
    width: 100%;
  }
  li {
    display: table-cell;
    background: $mainColor;
    color: #fff;
    padding: 16px 8px;
    border-bottom: 5px solid $accentColor;
    cursor: pointer;
    vertical-align: middle;
    &:hover, &.is-selected {
      background: $accentColor;
    }
    @include breakpoint(phoneonly) {
      width: 100% !important;
      border:none;
      display: inline-block;
    }
  }
  span.selector {
    display: block;
    height: 5px;
    background: $secondaryAccentColor;
    position: relative;
    top: -5px;
    left: 0;
    @include breakpoint(phoneonly) {
      display: none;
    }
  }

}
.tab-content {
  display: none;
}
