// WEATHER ICONS ====
.weather-wrap {
  position: absolute;
  right: 202px;
  top: 0;
  height: 50px;
  padding: 0 16px 0 4px;
  cursor: pointer;
  @include transition(all 200ms ease-out);
  &:hover, &.active {
    background-color: $menuBorderHoverColor;
    border-bottom: 5px solid $accentColor;
  }
  @include breakpoint(phonephablet) {
    right: 170px;
    padding-left: 16px;
  }
  .weather-temp.ng-binding {
    line-height: 50px;
    display: inline-block;
    float: right;
  }
  .weather-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat center center;
    float: left;
    background-size: 23px;
    @include breakpoint(phonephablet) {
      display: none;
    }
    &.thunder {
      background-image: url(./img/weather/thunder.svg);
    }
    &.drizzle {
      background-image: url(./img/weather/drizzle.svg);
    }
    &.rain {
      background-image: url(./img/weather/rain.svg);
    }
    &.snow {
      background-image: url(./img/weather/snow.svg);
    }
    &.fog {
      background-image: url(./img/weather/fogy.svg);
    }
    &.clear-day {
      background-image: url(./img/weather/sun.svg);
    }
    &.clear-night {
      background-image: url(./img/weather/moon.svg);
    }
    &.cloudy-day {
      background-image: url(./img/weather/cloud-day.svg);
    }
    &.cloudy-night {
      background-image: url(./img/weather/cloud-night.svg);
    }
    &.cloudy {
      background-image: url(./img/weather/cloudy.svg);
    }
  }

  .weather-week-wrap {
    position: absolute;
    min-width: 240px;
    left: 0;
    top: 50px;
    background: $mainColor;
    display: none;
    @include awesome-shadow();

    &.active {
      display: block;
    }
    .first-day-wrap {
      text-align: center;
      padding-top: 8px;
      border-bottom: 3px solid $accentColor;

      .first-day-icon.weather-icon {
        display: inline-block;
        width: 45%;
        height: 70px;
        background-size: 45px;
        background-position: right center;
      }
      .first-day-city.ng-binding {
        height: 18px;
        display: block;
        line-height: 18px;
      }
      .first-day-temp {
        font-size: 48px;
        display: inline-block;
        width: 45%;
        text-align: left;
        line-height: 70px;
      }
      .first-day-weekday {
        display: block;
        width: 100%;
        height: 0;
        line-height: 16px;
        font-size: 14px;
      }
      .first-day-speed, .first-day-humidity {
        padding-left: 8px;
      }
    }

    .week-day-wrap {
      display: block;
      //height: 150px;
      font-size: 12px;
      padding: 8px;
      text-align: center;
      background: $accentColor;
      li {
        display: inline-block;
        width: 16.5%;
      }

      span {
        display: block;
        line-height: 16px;
        text-align: center;
      }
      .week-day-icon {
        height: 30px;
        width: 100%;
      }
    }
  }
}
